Repository scaleway/scaleway-cli, pull requests merged in 2020-04, with the labels that each got.

#889 feat(instance): add ssh command
  cmd/scw/testdata/test-all-usage-instance-server-ssh-usage.stderr.golden
  cmd/scw/testdata/test-all-usage-instance-server-usage.stderr.golden
  internal/namespaces/instance/v1/custom.go
  internal/namespaces/instance/v1/custom_server_ssh.go
Labels: instance

#967 doc: add issues, pull-requests templates and support documentation
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/SUPPORT.md
  .github/pull_request_template.md
Labels: documentation

#963 refactor(core): move flag parsing to bootstrap
  go.mod
  internal/core/autocomplete_test.go
  internal/core/bootstrap.go
  internal/core/build_info_test.go
  internal/core/client.go
  internal/core/cobra_builder.go
  internal/core/cobra_utils.go
  internal/core/cobra_utils_test.go
  internal/core/context.go
  internal/core/testdata/test-check-version-already-checked.stderr.golden
  internal/core/testdata/test-check-version-outdated-version.stderr.golden
  internal/core/testdata/test-check-version-up-to-date-version.stderr.golden
  internal/core/testing.go
  internal/namespaces/account/v2alpha1/custom.go
  internal/namespaces/init/init.go
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-image-uuid.stderr.golden
  internal/namespaces/object/v1/custom_config_get_test.go
  internal/namespaces/object/v1/custom_config_install_test.go
Labels: core
