Repository scaleway/scaleway-cli, pull requests merged in 2020-05, with the labels that each got.

#897 feat(instance): add console command
  cmd/scw/testdata/test-all-usage-instance-server-console-usage.stderr.golden
  cmd/scw/testdata/test-all-usage-instance-server-usage.stderr.golden
  go.mod
  go.sum
  internal/gotty/client.go
  internal/gotty/resize.go
  internal/gotty/resize_windows.go
  internal/namespaces/instance/v1/custom.go
  internal/namespaces/instance/v1/custom_server_console.go
Labels: instance

#911 feat(registry): add login/logout commands
  cmd/scw/testdata/test-all-usage-registry-login-usage.stderr.golden
  cmd/scw/testdata/test-all-usage-registry-logout-usage.stderr.golden
  cmd/scw/testdata/test-all-usage-registry-usage.stderr.golden
  internal/core/testing.go
  internal/namespaces/registry/v1/custom.go
  internal/namespaces/registry/v1/custom_login.go
  internal/namespaces/registry/v1/custom_login_test.go
  internal/namespaces/registry/v1/custom_logout.go
  internal/namespaces/registry/v1/custom_logout_test.go
  internal/namespaces/registry/v1/helpers_login_logout.go
  internal/namespaces/registry/v1/testdata/test-namespace-login-docker.cassette.yaml
  internal/namespaces/registry/v1/testdata/test-namespace-login-podman.cassette.yaml
  internal/namespaces/registry/v1/testdata/test-namespace-logout-docker.cassette.yaml
  internal/namespaces/registry/v1/testdata/test-namespace-logout-podman.cassette.yaml
Labels: registry

#1026 feat(init): add support for profile flag
  go.sum
  internal/core/bootstrap.go
  internal/core/bootstrap_test.go
  internal/core/build_info.go
  internal/core/client.go
  internal/core/cobra_utils.go
  internal/core/context.go
  internal/core/testdata/test-interrupt-error-empty-success-json.stdout.golden
  internal/namespaces/init/init.go
Labels: init
