Repository scaleway/scaleway-cli, pull requests merged in 2022-12, with the labels that each got.

#2610 chore: bump go version to 1.19
  .github/workflows/coverage.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/unit-tests.yaml
  go.mod
  go.sum
Labels: core, dependencies

#2669 feat(rdb): improve ACL deletion message
  internal/namespaces/rdb/v1/custom_acl.go
  internal/namespaces/rdb/v1/testdata/test-delete-acl-simple.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-delete-acl-simple.golden
Labels: enhancement, rdb

#2671 feat(lb): add warning on kapsule-tagged lbs
  internal/namespaces/lb/v1/custom.go
  internal/namespaces/lb/v1/custom_acl.go
  internal/namespaces/lb/v1/custom_backend.go
  internal/namespaces/lb/v1/custom_certificate.go
  internal/namespaces/lb/v1/custom_frontend.go
  internal/namespaces/lb/v1/custom_lb.go
  internal/namespaces/lb/v1/custom_lb_test.go
  internal/namespaces/lb/v1/helper_test.go
  internal/namespaces/lb/v1/testdata/test-create-certificate-import.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-create-certificate-import.golden
  internal/namespaces/lb/v1/testdata/test-create-lb-simple.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-create-lb-simple.golden
  internal/namespaces/lb/v1/testdata/test-get-backend-simple.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-get-backend-simple.golden
  internal/namespaces/lb/v1/testdata/test-get-frontend-simple.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-get-frontend-simple.golden
  internal/namespaces/lb/v1/testdata/test-get-k8s-tagged-lb-simple.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-get-k8s-tagged-lb-simple.golden
  internal/namespaces/lb/v1/testdata/test-get-lb-simple.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-get-lb-simple.golden
  internal/namespaces/lb/v1/testdata/test-get-stats-simple.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-get-stats-simple.golden
  internal/namespaces/lb/v1/testdata/test-list-lb-simple.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-list-lb-simple.golden
  internal/namespaces/lb/v1/testdata/test-wait-lb-simple.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-wait-lb-simple.golden
  internal/namespaces/lb/v1/testfixture/lb.yaml
Labels: enhancement, load-balancer, k8s

#2679 feat(lb): add servers to backend via id
  cmd/scw/testdata/test-all-usage-lb-backend-add-servers-usage.golden
  cmd/scw/testdata/test-all-usage-lb-backend-create-usage.golden
  cmd/scw/testdata/test-all-usage-lb-backend-remove-servers-usage.golden
  cmd/scw/testdata/test-all-usage-lb-backend-set-servers-usage.golden
  docs/commands/lb.md
  internal/namespaces/lb/v1/custom_backend.go
  internal/namespaces/lb/v1/custom_backend_test.go
  internal/namespaces/lb/v1/helper_test.go
  internal/namespaces/lb/v1/testdata/test-add-backend-servers-with-instance-id-public-ip.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-add-backend-servers-with-instance-id-public-ip.golden
  internal/namespaces/lb/v1/testdata/test-add-backend-servers-with-instance-id.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-add-backend-servers-with-instance-id.golden
  internal/namespaces/lb/v1/testdata/test-create-backend-with-instance-id-public-ip.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-create-backend-with-instance-id-public-ip.golden
  internal/namespaces/lb/v1/testdata/test-create-backend-with-instance-id.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-create-backend-with-instance-id.golden
Labels: enhancement, load-balancer, instance, elastic-metal

#2681 feat(container): add waiter to container deploy
  cmd/scw/testdata/test-all-usage-container-container-deploy-usage.golden
  internal/namespaces/container/v1beta1/custom.go
  internal/namespaces/container/v1beta1/custom_container.go
Labels: enhancement, container

#2697 perf: optimize cli loading
  internal/core/bootstrap.go
  internal/core/cobra_builder.go
  internal/core/command.go
  internal/namespaces/get_commands.go
Labels: core

#2696 feat(core): add all localities to support generation of listing commands
  internal/core/arg_specs.go
Labels: enhancement, core

#2700 perf(core): lazy load usage
  internal/core/cobra_builder.go
  internal/core/cobra_usage_builder.go
Labels: core

#2683 feat(lb): add servers to backend via tags
  cmd/scw/testdata/test-all-usage-lb-backend-add-servers-usage.golden
  cmd/scw/testdata/test-all-usage-lb-backend-create-usage.golden
  cmd/scw/testdata/test-all-usage-lb-backend-remove-servers-usage.golden
  cmd/scw/testdata/test-all-usage-lb-backend-set-servers-usage.golden
  docs/commands/lb.md
  internal/namespaces/lb/v1/custom_backend.go
  internal/namespaces/lb/v1/custom_backend_test.go
  internal/namespaces/lb/v1/helper_test.go
  internal/namespaces/lb/v1/testdata/test-add-backend-servers-with-instance-tag-public-ip.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-add-backend-servers-with-instance-tag-public-ip.golden
  internal/namespaces/lb/v1/testdata/test-add-backend-servers-with-instance-tag.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-add-backend-servers-with-instance-tag.golden
  internal/namespaces/lb/v1/testdata/test-create-backend-with-instance-tag-public-ip.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-create-backend-with-instance-tag-public-ip.golden
  internal/namespaces/lb/v1/testdata/test-create-backend-with-instance-tag.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-create-backend-with-instance-tag.golden
Labels: enhancement, load-balancer, instance, elastic-metal

#2705 fix(core): change command signature to fix sort of same command
  cmd/scw/testdata/test-all-usage-account-usage#01.golden
  cmd/scw/testdata/test-all-usage-account-usage.golden
  cmd/scw/testdata/test-main-usage-usage.golden
  internal/core/command.go
Labels: bug, core

#2706 fix(core): remove default help command
  cmd/scw/testdata/test-main-usage-usage.golden
  internal/core/bootstrap.go
Labels: core

#2701 perf(core): lazy load usage annotations allocation
  internal/core/cobra_builder.go
Labels: core

#2702 perf(core): cobra builder allocate with nb of commands and use unordered list
  internal/core/cobra_builder.go
  internal/core/cobra_usage_builder.go
Labels: core
