Repository scaleway/scaleway-cli, pull requests merged in 2022-11, with the labels that each got.

#2574 fix(core): crash on missing field that support file loading
  internal/core/arg_file_content.go
Labels: bug, core

#2584 feat(iot): improve network create output
  cmd/scw/testdata/test-all-usage-iot-hub-create-usage.golden
  internal/namespaces/iot/v1/custom.go
  internal/namespaces/iot/v1/custom_hub.go
  internal/namespaces/iot/v1/custom_network.go
  internal/namespaces/iot/v1/custom_network_test.go
  internal/namespaces/iot/v1/helper_test.go
  internal/namespaces/iot/v1/testdata/test-create-network-simple.cassette.yaml
  internal/namespaces/iot/v1/testdata/test-create-network-simple.golden
Labels: enhancement, iot

#2586 fix(rdb): add missing fields on backup builder
  internal/namespaces/rdb/v1/custom.go
  internal/namespaces/rdb/v1/custom_backup.go
  internal/namespaces/rdb/v1/testdata/test-list-backup-simple.golden
Labels: rdb

#2593 feat(iot): change device create output
  internal/namespaces/iot/v1/custom.go
  internal/namespaces/iot/v1/custom_device.go
  internal/namespaces/iot/v1/custom_device_test.go
  internal/namespaces/iot/v1/testdata/test-create-device-simple.cassette.yaml
  internal/namespaces/iot/v1/testdata/test-create-device-simple.golden
Labels: enhancement, iot

#2548 feat(rdb) add verb settings to namespace rdb engine
  cmd/scw/testdata/test-all-usage-rdb-engine-settings-usage.golden
  cmd/scw/testdata/test-all-usage-rdb-engine-usage.golden
  docs/commands/rdb.md
  internal/namespaces/rdb/v1/custom.go
  internal/namespaces/rdb/v1/custom_engine_settings.go
  internal/namespaces/rdb/v1/custom_engine_settings_test.go
  internal/namespaces/rdb/v1/testdata/test-list-engine-settings-lowercase.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-list-engine-settings-lowercase.golden
  internal/namespaces/rdb/v1/testdata/test-list-engine-settings-simple.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-list-engine-settings-simple.golden
Labels: enhancement, rdb
