Repository scaleway/scaleway-cli, pull requests merged in 2022-10, with the labels that each got.

#2536 feat(redis): migrate to v1
  cmd/scw/testdata/test-all-usage-redis-acl-add-usage.golden
  cmd/scw/testdata/test-all-usage-redis-acl-set-usage.golden
  cmd/scw/testdata/test-all-usage-redis-cluster-create-usage.golden
  cmd/scw/testdata/test-all-usage-redis-cluster-metrics-usage.golden
  cmd/scw/testdata/test-all-usage-redis-setting-delete-usage.golden
  cmd/scw/testdata/test-all-usage-redis-version-list-usage.golden
  docs/commands/redis.md
  internal/namespaces/get_commands.go
  internal/namespaces/redis/v1/custom.go
  internal/namespaces/redis/v1alpha1/redis_cli.go
Labels: redis

#2550 fix(core): do not require a config file if required env vars are set
  internal/core/client.go
Labels: core, config

#2549 feat(rdb): add instance update settings
  cmd/scw/testdata/test-all-usage-rdb-instance-update-usage.golden
  docs/commands/rdb.md
  internal/namespaces/rdb/v1/custom.go
  internal/namespaces/rdb/v1/custom_instance.go
  internal/namespaces/rdb/v1/custom_instance_test.go
  internal/namespaces/rdb/v1/testdata/test-update-instance-modify-default-work-mem-from4-to8mb.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-update-instance-modify-default-work-mem-from4-to8mb.golden
  internal/namespaces/rdb/v1/testdata/test-update-instance-modify3-settings+-add-a-new-one.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-update-instance-modify3-settings+-add-a-new-one.golden
  internal/namespaces/rdb/v1/testdata/test-update-instance-set-a-timezone.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-update-instance-set-a-timezone.golden
  internal/namespaces/rdb/v1/testdata/test-update-instance-update-instance-name.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-update-instance-update-instance-name.golden
  internal/namespaces/rdb/v1/testdata/test-update-instance-update-instance-tags.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-update-instance-update-instance-tags.golden
Labels: rdb
