Repository scaleway/scaleway-cli, pull requests merged in 2023-06, with the labels that each got.

#3172 chore: update `buildpacks/pack`
  go.mod
  go.sum
Labels: dependencies

#2971 feat(core): add --web flag
  cmd/scw/web_test.go
  go.mod
  go.sum
  internal/core/cobra_builder.go
  internal/core/cobra_utils.go
  internal/core/command.go
  internal/core/web.go
Labels: enhancement, core, priority:medium

#3179 fix(vpc): fix nil pointer dereference on redis endpoint
  internal/namespaces/vpc/v1/custom_private_network.go
Labels: bug, vpc

#3181 chore: fix release go version
  .github/workflows/release.yml
Labels: bug

#3183 feat(instance): add pop2 server types
  cmd/scw/testdata/test-all-usage-instance-server-create-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom_server_create.go
  internal/namespaces/instance/v1/helpers_types.go
Labels: instance

#3184 fix: slice field marshaling out of bound
  internal/gofields/gofields.go
Labels: bug, core

#3185 fix(args): empty time parsing
  go.mod
  go.sum
  internal/args/unmarshal.go
Labels: bug, core

#3187 fix(shell): crash on help flag
  internal/core/shell.go
Labels: bug, shell

#3190 feat: improve sentry reports
  cmd/scw/main.go
  go.mod
  go.sum
  internal/core/build_info.go
  internal/core/cobra_utils.go
  internal/core/shell.go
  internal/sentry/sentry.go
Labels: enhancement, core

#3199 docs: update invalid seealso commands
  cmd/scw/testdata/test-all-usage-config-dump-usage.golden
  cmd/scw/testdata/test-all-usage-config-get-usage.golden
  cmd/scw/testdata/test-all-usage-config-info-usage.golden
  cmd/scw/testdata/test-all-usage-config-set-usage.golden
  internal/namespaces/config/commands.go
  internal/namespaces/init/init.go
  internal/qa/qa.go
  internal/qa/seealso.go
Labels: documentation

#3201 fix(init): project ID prompt
  internal/namespaces/init/init.go
  internal/namespaces/init/prompt.go
Labels: bug, init

#3204 feat(container): deploy container after creation
  cmd/scw/testdata/test-all-usage-container-container-create-usage.golden
  docs/commands/container.md
  internal/namespaces/container/v1beta1/custom_container.go
  internal/namespaces/container/v1beta1/custom_container_test.go
  internal/namespaces/container/v1beta1/testdata/test-create-simple.cassette.yaml
  internal/namespaces/container/v1beta1/testdata/test-create-simple.golden
Labels: enhancement, container

#3207 feat(wasm): add defaultProjectID to run config
  internal/platform/web/web.go
  internal/wasm/run.go
  wasm/cli.d.ts
  wasm/package.json
  wasm/src/cli.test.ts
Labels: wasm

#3220 fix(shell): disabled message show current runtime instead of freebsd
  internal/core/shell_disabled.go
Labels: bug

#3221 feat(wasm): add api-url to run config
  internal/platform/web/web.go
  internal/wasm/run.go
  wasm/cli.d.ts
  wasm/package.json
  wasm/src/cli.test.ts
Labels: enhancement, wasm

#3223 fix(instance): ssh install-config server without public ip
  internal/namespaces/instance/v1/custom_ssh_config.go
Labels: bug, instance

#3227 chore(instance): bump sdk-go with breaking changes
  cmd/scw/testdata/test-all-usage-instance-ssh-add-key-usage.golden
  cmd/scw/testdata/test-all-usage-instance-ssh-install-config-usage.golden
  cmd/scw/testdata/test-all-usage-instance-ssh-list-keys-usage.golden
  cmd/scw/testdata/test-all-usage-instance-ssh-remove-key-usage.golden
  docs/commands/instance.md
  go.mod
  go.sum
  internal/namespaces/instance/v1/custom_server.go
  internal/namespaces/instance/v1/custom_server_create.go
Labels: instance

#3236 fix(instance): complete image list fields
  internal/namespaces/instance/v1/custom_image.go
  internal/namespaces/instance/v1/testdata/test-image-list-simple.golden
Labels: bug, instance
