Repository scaleway/scaleway-cli, pull requests merged in 2023-12, with the labels that each got.

#3527 feat(ipam): enable commands
  cmd/scw/testdata/test-all-usage-ipam-ip-create-usage.golden
  cmd/scw/testdata/test-all-usage-ipam-ip-delete-usage.golden
  cmd/scw/testdata/test-all-usage-ipam-ip-get-usage.golden
  cmd/scw/testdata/test-all-usage-ipam-ip-list-usage.golden
  cmd/scw/testdata/test-all-usage-ipam-ip-update-usage.golden
  cmd/scw/testdata/test-all-usage-ipam-ip-usage.golden
  cmd/scw/testdata/test-all-usage-ipam-usage.golden
  cmd/scw/testdata/test-main-usage-usage.golden
  docs/commands/ipam.md
  internal/namespaces/get_commands.go
  internal/namespaces/ipam/v1/custom.go
Labels: enhancement, vpc

#3528 feat(jobs): add commands
  cmd/scw/testdata/test-all-usage-jobs-definition-create-usage.golden
  cmd/scw/testdata/test-all-usage-jobs-definition-delete-usage.golden
  cmd/scw/testdata/test-all-usage-jobs-definition-get-usage.golden
  cmd/scw/testdata/test-all-usage-jobs-definition-list-usage.golden
  cmd/scw/testdata/test-all-usage-jobs-definition-start-usage.golden
  cmd/scw/testdata/test-all-usage-jobs-definition-update-usage.golden
  cmd/scw/testdata/test-all-usage-jobs-definition-usage.golden
  cmd/scw/testdata/test-all-usage-jobs-run-get-usage.golden
  cmd/scw/testdata/test-all-usage-jobs-run-list-usage.golden
  cmd/scw/testdata/test-all-usage-jobs-run-stop-usage.golden
  cmd/scw/testdata/test-all-usage-jobs-run-usage.golden
  cmd/scw/testdata/test-all-usage-jobs-usage.golden
  cmd/scw/testdata/test-main-usage-usage.golden
  docs/commands/jobs.md
  internal/namespaces/get_commands.go
  internal/namespaces/jobs/v1alpha1/custom.go
Labels: enhancement

#3535 fix(instance): replace update commands with generated ones
  cmd/scw/testdata/test-all-usage-instance-image-create-usage.golden
  cmd/scw/testdata/test-all-usage-instance-image-update-usage.golden
  cmd/scw/testdata/test-all-usage-instance-image-usage.golden
  cmd/scw/testdata/test-all-usage-instance-security-group-create-rule-usage.golden
  cmd/scw/testdata/test-all-usage-instance-security-group-create-usage.golden
  cmd/scw/testdata/test-all-usage-instance-security-group-set-rules-usage.golden
  cmd/scw/testdata/test-all-usage-instance-security-group-update-rule-usage.golden
  cmd/scw/testdata/test-all-usage-instance-security-group-update-usage.golden
  cmd/scw/testdata/test-all-usage-instance-security-group-usage.golden
  cmd/scw/testdata/test-all-usage-instance-snapshot-update-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom.go
  internal/namespaces/instance/v1/custom_image.go
  internal/namespaces/instance/v1/custom_security_group.go
  internal/namespaces/instance/v1/custom_snapshot.go
  internal/namespaces/instance/v1/instance_cli.go
  internal/namespaces/instance/v1/testdata/test-update-snapshot-simple-change-name.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-update-snapshot-simple-change-name.golden
  internal/namespaces/instance/v1/testdata/test-update-snapshot-simple-change-tags.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-update-snapshot-simple-change-tags.golden
Labels: bug, instance

#3537 fix(lb): fix list private network command
  internal/core/testing.go
  internal/namespaces/lb/v1/custom.go
  internal/namespaces/lb/v1/custom_private_network.go
  internal/namespaces/lb/v1/custom_private_network_test.go
  internal/namespaces/lb/v1/helper_test.go
  internal/namespaces/lb/v1/testdata/test-list-lb-private-network-simple.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-list-lb-private-network-simple.golden
Labels: bug, load-balancer

#3226 fix(lb): return correct message after successful crud
  internal/namespaces/lb/v1/custom_acl.go
  internal/namespaces/lb/v1/custom_backend.go
  internal/namespaces/lb/v1/custom_certificate.go
  internal/namespaces/lb/v1/custom_frontend.go
  internal/namespaces/lb/v1/custom_lb.go
Labels: bug, load-balancer, priority:high

#3569 docs(docker): example for ssh-key usage
  docs/docker.md
Labels: documentation

#3496 feat(rdb): add a command to edit ACL
  cmd/scw/testdata/test-all-usage-rdb-acl-edit-usage.golden
  cmd/scw/testdata/test-all-usage-rdb-acl-usage.golden
  docs/commands/rdb.md
  internal/namespaces/rdb/v1/custom.go
  internal/namespaces/rdb/v1/custom_acl.go
Labels: rdb, priority:medium

#3575 feat(k8s): autocomplete cluster types and k8s version
  internal/namespaces/k8s/v1/custom_cluster.go
  internal/namespaces/k8s/v1/testdata/test-get-cluster-simple.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-get-cluster-simple.golden
  internal/namespaces/k8s/v1/testdata/test-get-kubeconfig-simple.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-get-kubeconfig-simple.golden
  internal/namespaces/k8s/v1/testdata/test-install-kubeconfig-merge.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-install-kubeconfig-simple.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-uninstall-kubeconfig-empty-file.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-uninstall-kubeconfig-uninstall-merge.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-uninstall-kubeconfig-uninstall.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-wait-cluster-wait-for-pools.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-wait-cluster-wait-for-pools.golden
Labels: enhancement, k8s
