Repository scaleway/scaleway-cli, pull requests merged in 2023-02, with the labels that each got.

#2752 fix(args): none arg set slice ptr to an empty slice
  internal/args/unmarshal.go
  internal/args/unmarshal_test.go
Labels: bug, core

#2754 feat(dns): import dns zone using file path
  cmd/scw/testdata/test-all-usage-dns-zone-import-usage.golden
  internal/namespaces/domain/v2beta1/custom.go
Labels: enhancement, domain

#2764 fix(instance): ignore bootscript deprecated lint error
  internal/namespaces/instance/v1/custom_server_create.go
  internal/namespaces/instance/v1/custom_server_create_test.go
Labels: instance

#2757 fix(config): catch profile error even when env vars are set
  internal/core/client.go
Labels: bug, config, priority:highest

#2790 fix(core): logger level error as default when output is not human
  docs/developer.md
  internal/core/bootstrap.go
Labels: enhancement, config
