Repository scaleway/scaleway-cli, pull requests merged in 2023-04, with the labels that each got.

#2983 fix(core): add disableCheckVersion option to commands
  internal/core/build_info.go
  internal/core/command.go
  internal/namespaces/autocomplete/autocomplete.go
Labels: bug, autocomplete, core

#2995 feat(config): add import command
  cmd/scw/testdata/test-all-usage-config-import-usage.golden
  docs/commands/config.md
  internal/namespaces/config/commands.go
  internal/namespaces/config/commands_test.go
  internal/namespaces/config/testdata/test-config-import-command-simple.golden
Labels: enhancement, config

#2996 fix(instance): list server-type all pages
  internal/namespaces/instance/v1/custom_server_create.go
  internal/namespaces/instance/v1/custom_server_create_test.go
  internal/namespaces/instance/v1/custom_server_type.go
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-image-size-is-incompatible-with-instance-type.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-image-size-is-incompatible-with-instance-type.golden
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-total-local-volumes-size-too-high1.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-total-local-volumes-size-too-high1.golden
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-total-local-volumes-size-too-high2.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-total-local-volumes-size-too-high2.golden
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-total-local-volumes-size-too-low1.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-total-local-volumes-size-too-low1.golden
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-total-local-volumes-size-too-low2.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-total-local-volumes-size-too-low2.golden
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-total-local-volumes-size-too-low3.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-total-local-volumes-size-too-low3.golden
  internal/namespaces/instance/v1/testdata/test-server-type-list-server-type-list.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-type-list-server-type-list.golden
Labels: bug, instance

#3003 feat(config): add output default format
  internal/config/config.go
  internal/core/bootstrap.go
Labels: enhancement, config

#3015 feat(instance): add direction in security-group rule marshal
  internal/namespaces/instance/v1/custom_security_group.go
  internal/namespaces/instance/v1/testdata/test-security-group-get-get.golden
Labels: enhancement, instance

#2950 feat(function): add deploy workflow
  cmd/scw/testdata/test-all-usage-function-deploy-usage.golden
  cmd/scw/testdata/test-all-usage-function-usage.golden
  docs/commands/function.md
  internal/namespaces/function/v1beta1/custom.go
  internal/namespaces/function/v1beta1/custom_deploy.go
  internal/namespaces/function/v1beta1/custom_deploy_test.go
  internal/namespaces/function/v1beta1/testdata/test-deploy-simple.cassette.yaml
  internal/namespaces/function/v1beta1/testdata/test-deploy-simple.golden
  internal/namespaces/function/v1beta1/testfixture/gofunction.zip
Labels: enhancement, function

#3025 fix(instance): delete with-volumes none worked like all
  cmd/scw/testdata/test-all-usage-instance-server-delete-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom_server.go
  internal/namespaces/instance/v1/custom_server_test.go
  internal/namespaces/instance/v1/testdata/test-server-delete-with-none-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-delete-with-none-volumes.golden
Labels: bug, instance

#3035 feat(mnq): clean credentials display
  internal/namespaces/mnq/v1alpha1/custom.go
  internal/namespaces/mnq/v1alpha1/custom_credentials.go
Labels: ux, mnq

#3036 feat(autocomplete): global flag profile values
  internal/core/autocomplete.go
  internal/core/autocomplete_test.go
  internal/core/autocomplete_utils.go
  internal/core/client.go
  internal/core/context.go
Labels: enhancement, autocomplete, core

#3046 feat(instance): add --wait to server terminate
  cmd/scw/testdata/test-all-usage-instance-server-terminate-usage.golden
  internal/core/cobra_builder.go
  internal/core/command.go
  internal/core/result.go
  internal/namespaces/instance/v1/custom_server.go
  internal/namespaces/instance/v1/custom_server_test.go
  internal/namespaces/instance/v1/testdata/test-server-terminate-with-block.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-terminate-with-block.golden
Labels: enhancement, instance

#3049 feat: check for api key expiration date
  internal/core/bootstrap.go
  internal/core/build_info.go
  internal/core/build_info_test.go
  internal/core/checks.go
  internal/core/checks_test.go
  internal/core/command.go
  internal/core/context.go
  internal/core/testdata/test-check-api-key-basic.cassette.yaml
  internal/core/testdata/test-check-api-key-basic.golden
  internal/core/testing.go
  internal/core/testing_recorder.go
  internal/namespaces/autocomplete/autocomplete.go
  internal/namespaces/init/testdata/test-init-ssh-key-registered.cassette.yaml
Labels: enhancement

#3066 fix(autocomplete): complete arg of multiple word resources
  internal/core/autocomplete_utils.go
Labels: autocomplete

#3079 feat(instance): add snapshot update
  cmd/scw/testdata/test-all-usage-instance-snapshot-update-usage.golden
  cmd/scw/testdata/test-all-usage-instance-snapshot-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom.go
  internal/namespaces/instance/v1/custom_snapshot.go
  internal/namespaces/instance/v1/custom_snapshot_test.go
  internal/namespaces/instance/v1/helpers_test.go
  internal/namespaces/instance/v1/testdata/test-update-snapshot-simple-change-name.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-update-snapshot-simple-change-name.golden
  internal/namespaces/instance/v1/testdata/test-update-snapshot-simple-change-tags.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-update-snapshot-simple-change-tags.golden
Labels: enhancement, instance

#3063 feat(instance): server create using snapshots
  cmd/scw/testdata/test-all-usage-instance-server-create-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom_server_create.go
  internal/namespaces/instance/v1/custom_server_create_test.go
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-additional-volume-snapshot-id.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-additional-volume-snapshot-id.golden
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-root-volume-snapshot-id.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-root-volume-snapshot-id.golden
  internal/namespaces/instance/v1/testdata/test-create-server-volumes-valid-double-snapshot.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-volumes-valid-single-local-snapshot.cassette.yaml
Labels: enhancement, instance

#3097 feat(init): no overwrite prompt when adding a new profile
  internal/namespaces/init/init.go
  internal/namespaces/init/init_test.go
  internal/namespaces/init/prompt.go
  internal/namespaces/init/testdata/test-init-cl-iv2-config-no-prompt-overwrite-for-new-profile.cassette.yaml
  internal/namespaces/init/testdata/test-init-cl-iv2-config-no-prompt-overwrite-for-new-profile.golden
  internal/namespaces/init/testdata/test-init-cl-iv2-config-prompt-overwrite-for-existing-profile.cassette.yaml
  internal/namespaces/init/testdata/test-init-cl-iv2-config-prompt-overwrite-for-existing-profile.golden
Labels: enhancement, init

#2931 feat(billing): add billing command
  README.md
  cmd/scw/testdata/test-all-usage-billing-invoice-download-usage.golden
  cmd/scw/testdata/test-all-usage-billing-invoice-list-usage.golden
  cmd/scw/testdata/test-all-usage-billing-invoice-usage.golden
  cmd/scw/testdata/test-all-usage-billing-usage.golden
  cmd/scw/testdata/test-main-usage-usage.golden
  docs/commands/billing.md
  internal/namespaces/billing/v2alpha1/custom.go
  internal/namespaces/billing/v2alpha1/custom_billing_download.go
  internal/namespaces/get_commands.go
Labels: priority:high, billing

#3099 fix(function): use default interval on deploy
  internal/namespaces/function/v1beta1/custom_deploy.go
Labels: function
