Repository scaleway/scaleway-cli, pull requests merged in 2023-07, with the labels that each got.

#3268 fix(lb): display correct label
  internal/namespaces/lb/v1/custom_lb.go
  internal/namespaces/lb/v1/testdata/test-add-backend-servers-with-instance-id-public-ip.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-add-backend-servers-with-instance-id-public-ip.golden
  internal/namespaces/lb/v1/testdata/test-add-backend-servers-with-instance-id.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-add-backend-servers-with-instance-id.golden
  internal/namespaces/lb/v1/testdata/test-add-backend-servers-with-instance-tag-public-ip.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-add-backend-servers-with-instance-tag-public-ip.golden
  internal/namespaces/lb/v1/testdata/test-add-backend-servers-with-instance-tag.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-add-backend-servers-with-instance-tag.golden
  internal/namespaces/lb/v1/testdata/test-create-backend-with-instance-id-public-ip.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-create-backend-with-instance-id-public-ip.golden
  internal/namespaces/lb/v1/testdata/test-create-backend-with-instance-id.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-create-backend-with-instance-id.golden
  internal/namespaces/lb/v1/testdata/test-create-backend-with-instance-tag-public-ip.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-create-backend-with-instance-tag-public-ip.golden
  internal/namespaces/lb/v1/testdata/test-create-backend-with-instance-tag.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-create-backend-with-instance-tag.golden
  internal/namespaces/lb/v1/testdata/test-create-certificate-import.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-create-certificate-import.golden
  internal/namespaces/lb/v1/testdata/test-create-lb-simple.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-create-lb-simple.golden
  internal/namespaces/lb/v1/testdata/test-get-backend-simple.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-get-backend-simple.golden
  internal/namespaces/lb/v1/testdata/test-get-frontend-simple.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-get-frontend-simple.golden
  internal/namespaces/lb/v1/testdata/test-get-lb-simple.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-get-lb-simple.golden
  internal/namespaces/lb/v1/testdata/test-wait-lb-simple.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-wait-lb-simple.golden
Labels: bug, load-balancer

#3272 fix(instance): ssh-config-install invalid zone or all
  cmd/scw/testdata/test-all-usage-instance-ssh-install-config-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom_ssh_config.go
Labels: bug, instance

#3291 feat(account): migrate to v3 api
  cmd/scw/testdata/test-all-usage-account-project-create-usage.golden
  cmd/scw/testdata/test-all-usage-account-project-delete-usage.golden
  cmd/scw/testdata/test-all-usage-account-project-get-usage.golden
  cmd/scw/testdata/test-all-usage-account-project-list-usage.golden
  cmd/scw/testdata/test-all-usage-account-project-update-usage.golden
  cmd/scw/testdata/test-main-usage-usage.golden
  docs/commands/account.md
  internal/namespaces/account/v3/custom.go
  internal/namespaces/get_commands.go
  internal/namespaces/init/prompt.go
Labels: account

#3310 feat: add get.sh script
  README.md
  scripts/get.sh
Labels: enhancement
