Repository scaleway/scaleway-cli, pull requests merged in 2023-05, with the labels that each got.

#3098 feat(container): add waiters
  cmd/scw/testdata/test-all-usage-container-container-create-usage.golden
  cmd/scw/testdata/test-all-usage-container-container-update-usage.golden
  cmd/scw/testdata/test-all-usage-container-namespace-update-usage.golden
  internal/namespaces/container/v1beta1/custom.go
  internal/namespaces/container/v1beta1/custom_container.go
  internal/namespaces/container/v1beta1/custom_namespace.go
Labels: enhancement, container

#3102 feat: add timeout argument to wait commands
  cmd/scw/testdata/test-all-usage-apple-silicon-server-wait-usage.golden
  cmd/scw/testdata/test-all-usage-baremetal-server-wait-usage.golden
  cmd/scw/testdata/test-all-usage-cockpit-cockpit-wait-usage.golden
  cmd/scw/testdata/test-all-usage-instance-image-wait-usage.golden
  cmd/scw/testdata/test-all-usage-instance-server-wait-usage.golden
  cmd/scw/testdata/test-all-usage-instance-snapshot-wait-usage.golden
  cmd/scw/testdata/test-all-usage-k8s-cluster-wait-usage.golden
  cmd/scw/testdata/test-all-usage-k8s-node-wait-usage.golden
  cmd/scw/testdata/test-all-usage-k8s-pool-wait-usage.golden
  cmd/scw/testdata/test-all-usage-lblb-wait-usage.golden
  cmd/scw/testdata/test-all-usage-rdb-backup-wait-usage.golden
  cmd/scw/testdata/test-all-usage-rdb-instance-wait-usage.golden
  docs/commands/apple-silicon.md
  docs/commands/baremetal.md
  docs/commands/cockpit.md
  docs/commands/instance.md
  docs/commands/k8s.md
  docs/commands/lb.md
  docs/commands/rdb.md
  internal/core/arg_specs.go
  internal/namespaces/applesilicon/v1alpha1/custom_server.go
  internal/namespaces/baremetal/v1/custom_server.go
  internal/namespaces/cockpit/v1beta1/custom_cockpit.go
  internal/namespaces/instance/v1/custom_image.go
  internal/namespaces/instance/v1/custom_server.go
  internal/namespaces/instance/v1/custom_snapshot.go
  internal/namespaces/k8s/v1/custom_cluster.go
  internal/namespaces/k8s/v1/custom_node.go
  internal/namespaces/k8s/v1/custom_pool.go
  internal/namespaces/lb/v1/custom_lb.go
  internal/namespaces/rdb/v1/custom_backup.go
  internal/namespaces/rdb/v1/custom_instance.go
Labels: enhancement

#3106 fix(rdb): listing user crash with filter
  internal/namespaces/rdb/v1/custom_user.go
Labels: bug, rdb

#3024 feat: wasm build
  .github/workflows/wasm.yml
  cmd/scw-wasm/args.go
  cmd/scw-wasm/async.go
  cmd/scw-wasm/main.go
  internal/config/config.go
  internal/core/client.go
  internal/core/cobra_utils.go
  internal/core/shell.go
  internal/core/shell_disabled.go
  internal/gotty/client.go
  internal/gotty/resize.go
  internal/interactive/prompt.go
  internal/interactive/prompt_disabled.go
  internal/interactive/utils.go
  internal/interactive/utils_wasm.go
  internal/namespaces/container/v1beta1/custom.go
  internal/namespaces/container/v1beta1/custom_deploy.go
  internal/namespaces/container/v1beta1/custom_deploy_disabled.go
  internal/namespaces/container/v1beta1/custom_deploy_helpers.go
  internal/namespaces/function/v1beta1/custom.go
  internal/namespaces/function/v1beta1/custom_deploy.go
  internal/namespaces/function/v1beta1/custom_deploy_disabled.go
  internal/namespaces/instance/v1/custom.go
  internal/namespaces/instance/v1/custom_server_console.go
  internal/namespaces/instance/v1/custom_server_console_disabled.go
  internal/tasks/logger.go
  internal/tasks/tasks.go
  scripts/build-wasm.sh
  scripts/run-tests-wasm.sh
  wasm/.gitignore
  wasm/cli.d.ts
  wasm/index.js
  wasm/package.json
  wasm/pnpm-lock.yaml
  wasm/src/cli.test.ts
  wasm/tsconfig.json
  wasm/wasm_exec.cjs
  wasm/wasm_exec.d.ts
  wasm/wasm_exec_node.cjs
Labels: enhancement, priority:high

#3109 fix(container): disable deploy on freebsd
  internal/namespaces/container/v1beta1/custom_deploy.go
  internal/namespaces/container/v1beta1/custom_deploy_disabled.go
Labels: bug, container

#3119 feat(wasm): add jwt support
  cmd/scw-wasm/args.go
  cmd/scw-wasm/async.go
  cmd/scw-wasm/main.go
  cmd/scw/main.go
  internal/core/autocomplete_test.go
  internal/core/bootstrap.go
  internal/core/checks_test.go
  internal/core/client.go
  internal/core/cobra_utils.go
  internal/core/context.go
  internal/core/testing.go
  internal/core/wasm.go
  internal/jshelpers/arrays.go
  internal/jshelpers/errors.go
  internal/jshelpers/objects.go
  internal/namespaces/init/custom_init_ssh_test.go
  internal/platform/config.go
  internal/platform/errors.go
  internal/platform/platform.go
  internal/platform/terminal/terminal.go
  internal/platform/terminal/terminal_client.go
  internal/platform/web/web.go
  wasm/cli.d.ts
  wasm/src/cli.test.ts
  wasm/wasm_exec_node.cjs
Labels: enhancement

#3130 feat(wasm): return custom object
  cmd/scw-wasm/async.go
  cmd/scw-wasm/main.go
  cmd/scw-wasm/run.go
  internal/jshelpers/function.go
  internal/jshelpers/objects.go
  internal/wasm/run.go
  wasm/cli.d.ts
  wasm/index.d.ts
  wasm/package.json
  wasm/src/cli.test.ts
Labels: enhancement

#3018 feat(config): add validate command
  cmd/scw/testdata/test-all-usage-config-validate-usage.golden
  docs/commands/config.md
  internal/core/errors.go
  internal/namespaces/config/commands.go
  internal/namespaces/config/commands_test.go
  internal/namespaces/config/testdata/test-config-validate-command-invalid-default-access-key.golden
  internal/namespaces/config/testdata/test-config-validate-command-invalid-profile-p1-secret-key.golden
  internal/namespaces/config/testdata/test-config-validate-command-simple.golden
Labels: enhancement, config, priority:high

#3151 feat(init): prompt list of project
  go.mod
  go.sum
  internal/core/testing.go
  internal/interactive/list.go
  internal/interactive/list_disabled.go
  internal/interactive/test.go
  internal/namespaces/init/init.go
  internal/namespaces/init/init_test.go
  internal/namespaces/init/prompt.go
  internal/namespaces/init/testdata/test-init-prompt-simple.cassette.yaml
  internal/namespaces/init/testdata/test-init-prompt-simple.golden
Labels: enhancement, init
