Repository scaleway/scaleway-cli, pull requests merged in 2023-03, with the labels that each got.

#2825 feat(cockpit): enable and configure commands
  cmd/scw/testdata/test-all-usage-cockpit-cockpit-activate-usage.golden
  cmd/scw/testdata/test-all-usage-cockpit-cockpit-deactivate-usage.golden
  cmd/scw/testdata/test-all-usage-cockpit-cockpit-get-usage.golden
  cmd/scw/testdata/test-all-usage-cockpit-cockpit-reset-grafana-usage.golden
  cmd/scw/testdata/test-all-usage-cockpit-cockpit-usage.golden
  cmd/scw/testdata/test-all-usage-cockpit-cockpit-wait-usage.golden
  cmd/scw/testdata/test-all-usage-cockpit-grafana-user-create-usage.golden
  cmd/scw/testdata/test-all-usage-cockpit-grafana-user-delete-usage.golden
  cmd/scw/testdata/test-all-usage-cockpit-grafana-user-list-usage.golden
  cmd/scw/testdata/test-all-usage-cockpit-grafana-user-reset-password-usage.golden
  cmd/scw/testdata/test-all-usage-cockpit-grafana-user-usage.golden
  cmd/scw/testdata/test-all-usage-cockpit-token-create-usage.golden
  cmd/scw/testdata/test-all-usage-cockpit-token-delete-usage.golden
  cmd/scw/testdata/test-all-usage-cockpit-token-get-usage.golden
  cmd/scw/testdata/test-all-usage-cockpit-token-list-usage.golden
  cmd/scw/testdata/test-all-usage-cockpit-token-usage.golden
  cmd/scw/testdata/test-all-usage-cockpit-usage.golden
  cmd/scw/testdata/test-main-usage-usage.golden
  internal/namespaces/cockpit/v1beta1/custom.go
  internal/namespaces/cockpit/v1beta1/custom_cockpit.go
  internal/namespaces/get_commands.go
Labels: cockpit

#2833 fix(autocomplete): apply default values to list on arg completion
  internal/core/autocomplete_utils.go
Labels: bug, autocomplete

#2501 feat: add command aliases
  .golangci.yml
  cmd/scw/testdata/test-all-usage-alias-create-usage.golden
  cmd/scw/testdata/test-all-usage-alias-delete-usage.golden
  cmd/scw/testdata/test-all-usage-alias-list-usage.golden
  cmd/scw/testdata/test-all-usage-alias-usage.golden
  cmd/scw/testdata/test-main-usage-usage.golden
  docs/commands/alias.md
  internal/alias/alias.go
  internal/alias/config.go
  internal/alias/config_test.go
  internal/config/config.go
  internal/core/alias.go
  internal/core/alias_test.go
  internal/core/autocomplete.go
  internal/core/bootstrap.go
  internal/core/cobra_builder.go
  internal/core/cobra_usage_builder.go
  internal/core/command.go
  internal/core/context.go
  internal/core/shell.go
  internal/core/testing.go
  internal/namespaces/alias/alias.go
  internal/namespaces/alias/alias_test.go
  internal/namespaces/alias/testdata/test-alias-delete-alias.golden
  internal/namespaces/alias/testdata/test-alias-list-aliases.golden
  internal/namespaces/alias/testdata/test-alias-multiple-words.golden
  internal/namespaces/alias/testdata/test-alias-one-word-aliases.golden
  internal/namespaces/autocomplete/autocomplete.go
  internal/namespaces/get_commands.go
  internal/pkg/shlex/COPYING
  internal/pkg/shlex/README
  internal/pkg/shlex/shlex.go
  internal/pkg/shlex/shlex_test.go
Labels: enhancement, autocomplete, core, priority:medium

#2838 feat(autocomplete): remove beta check for arg completion
  internal/core/autocomplete.go
Labels: enhancement, autocomplete

#2845 fix(shell): crash when completing map of object
  internal/core/shell.go
Labels: bug, shell

#2847 fix(args): parse slice indexes as 32 bits
  internal/args/unmarshal.go
Labels: bug, core

#2846 feat(shell): cache last autocomplete request
  internal/core/shell.go
Labels: enhancement, shell

#2850 feat(core): add argspec util to get corresponding type from argstype
  internal/core/arg_specs.go
  internal/core/arg_specs_test.go
  internal/core/reflect.go
Labels: enhancement, core

#2852 feat(qa): add argspec checking in cli qa
  internal/args/args.go
  internal/core/arg_specs.go
  internal/core/arg_specs_test.go
  internal/core/reflect.go
  internal/qa/argspec.go
  internal/qa/qa.go
Labels: enhancement, core

#2596 feat(core): add support for composite tasks
  go.mod
  go.sum
  internal/tasks/loader.go
  internal/tasks/tasks.go
  internal/tasks/tasks_test.go
Labels: enhancement, core

#2857 docs: add reference to function command in the README
  README.md
Labels: container, function

#2856 fix(config): info display overriden variables
  go.mod
  go.sum
  internal/namespaces/config/commands.go
  internal/namespaces/config/testdata/test-config-info-command-profile.golden
Labels: config

#2862 feat(tasks): change api
  internal/tasks/tasks.go
  internal/tasks/tasks_test.go
Labels: enhancement

#2932 fix(instance): change server-types local volume size to max
  internal/namespaces/instance/v1/custom_server_type.go
Labels: bug, instance

#2938 tests(instance): record instance server type test golden
  internal/namespaces/instance/v1/testdata/test-server-type-list-server-type-list.golden
Labels: instance, tests

#2937 feat(container): add namespace waiters
  cmd/scw/testdata/test-all-usage-container-namespace-create-usage.golden
  cmd/scw/testdata/test-all-usage-container-namespace-delete-usage.golden
  internal/core/errors_cmp.go
  internal/namespaces/container/v1beta1/custom.go
  internal/namespaces/container/v1beta1/custom_namespace.go
Labels: enhancement, container

#2939 fix(instance): split security group marshalers
  internal/namespaces/instance/v1/custom.go
  internal/namespaces/instance/v1/custom_security_group.go
  internal/namespaces/instance/v1/custom_security_group_test.go
  internal/namespaces/instance/v1/testdata/test-security-group-get-get.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-security-group-get-get.golden
Labels: instance

#2940 test: remove unused goldens and cassettes
  cmd/scw/testdata/test-all-usage-function-logs-list-usage.golden
  cmd/scw/testdata/test-all-usage-function-logs-usage.golden
  cmd/scw/testdata/test-all-usage-webhosting-dns-record-get-usage.golden
  cmd/scw/testdata/test-all-usage-webhosting-dns-record-usage.golden
  internal/namespaces/iam/v1alpha1/testdata/test-ssh-key-add-command-simple.cassette.yaml
  internal/namespaces/iam/v1alpha1/testdata/test-ssh-key-add-command-simple.golden
  internal/namespaces/lb/v1/testdata/test-get-k8s-tagged-lb-simple.cassette.yaml
  internal/namespaces/lb/v1/testdata/test-get-k8s-tagged-lb-simple.golden
Labels: tests

#2878 feat: add editor
  cmd/scw/testdata/test-all-usage-instance-security-group-edit-usage.golden
  cmd/scw/testdata/test-all-usage-instance-security-group-usage.golden
  docs/commands/instance.md
  internal/config/editor.go
  internal/editor/doc.go
  internal/editor/editor.go
  internal/editor/editor_test.go
  internal/editor/marshal.go
  internal/editor/reflect.go
  internal/editor/reflect_test.go
  internal/editor/request.go
  internal/editor/request_test.go
  internal/editor/tempfile.go
  internal/namespaces/instance/v1/custom.go
  internal/namespaces/instance/v1/custom_security_group.go
Labels: enhancement, core

#2952 feat(autocomplete): cache in arg completion instead of shell
  internal/cache/cache.go
  internal/core/autocomplete_utils.go
  internal/core/shell.go
Labels: enhancement, shell

#2960 feat(webhosting): improve offer list visualization
  internal/namespaces/webhosting/v1alpha1/custom.go
  internal/namespaces/webhosting/v1alpha1/custom_offer.go
  internal/namespaces/webhosting/v1alpha1/custom_offer_test.go
  internal/namespaces/webhosting/v1alpha1/testdata/test-list-offer-simple.cassette.yaml
  internal/namespaces/webhosting/v1alpha1/testdata/test-list-offer-simple.golden
Labels: enhancement, webhosting

#2963 feat(vpcgw): improve gateway-type list visualization
  internal/namespaces/vpcgw/v1/custom.go
  internal/namespaces/vpcgw/v1/custom_gateway_type.go
  internal/namespaces/vpcgw/v1/custom_gateway_type_test.go
  internal/namespaces/vpcgw/v1/testdata/test-list-gateway-type-simple.cassette.yaml
  internal/namespaces/vpcgw/v1/testdata/test-list-gateway-type-simple.golden
Labels: enhancement, vpc

#2964 fix(shell): arg doc when using positional arguments
  internal/core/shell.go
Labels: bug, shell

#2978 fix(instance): server get private_networks json tags
  internal/namespaces/instance/v1/custom_server.go
Labels: bug, instance

#2977 docs: add more example in cookbook
  docs/cookbook.md
Labels: documentation
