Repository scaleway/scaleway-cli, pull requests merged in 2023-11, with the labels that each got.

#3468 fix(instance): image update positional arg
  cmd/scw/testdata/test-all-usage-instance-image-update-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom_image.go
  internal/namespaces/instance/v1/custom_image_test.go
Labels: bug, instance

#3467 fix(instance): image update with invalid uuid
  internal/namespaces/instance/v1/custom_image.go
Labels: bug, instance

#3473 feat(rdb): list ACLs when getting a rdb instance
  internal/namespaces/rdb/v1/custom.go
  internal/namespaces/rdb/v1/custom_instance.go
  internal/namespaces/rdb/v1/testdata/test-get-instance-simple.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-get-instance-simple.golden
Labels: rdb, priority:high

#3479 feat(rdb): print messages while exporting backup
  internal/namespaces/rdb/v1/custom_backup.go
  internal/namespaces/rdb/v1/testdata/test-create-backup-simple.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-create-backup-simple.golden
  internal/namespaces/rdb/v1/testdata/test-download-backup-simple.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-download-backup-with-no-previous-export-backup.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-export-backup-simple.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-export-backup-simple.golden
  internal/namespaces/rdb/v1/testdata/test-list-backup-simple.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-list-backup-simple.golden
  internal/namespaces/rdb/v1/testdata/test-restore-backup-simple.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-restore-backup-simple.golden
Labels: rdb, priority:high

#3501 fix(mnq): remove end of life v1alpha1
  internal/namespaces/mnq/v1alpha1/custom.go
  internal/namespaces/mnq/v1alpha1/custom_credentials.go
  internal/namespaces/mnq/v1alpha1/mnq_cli.go
Labels: mnq

#3505 feat(block): add commands
  cmd/scw/testdata/test-all-usage-block-snapshot-create-usage.golden
  cmd/scw/testdata/test-all-usage-block-snapshot-delete-usage.golden
  cmd/scw/testdata/test-all-usage-block-snapshot-get-usage.golden
  cmd/scw/testdata/test-all-usage-block-snapshot-list-usage.golden
  cmd/scw/testdata/test-all-usage-block-snapshot-update-usage.golden
  cmd/scw/testdata/test-all-usage-block-snapshot-usage.golden
  cmd/scw/testdata/test-all-usage-block-usage.golden
  cmd/scw/testdata/test-all-usage-block-volume-create-usage.golden
  cmd/scw/testdata/test-all-usage-block-volume-delete-usage.golden
  cmd/scw/testdata/test-all-usage-block-volume-get-usage.golden
  cmd/scw/testdata/test-all-usage-block-volume-list-usage.golden
  cmd/scw/testdata/test-all-usage-block-volume-type-list-usage.golden
  cmd/scw/testdata/test-all-usage-block-volume-type-usage.golden
  cmd/scw/testdata/test-all-usage-block-volume-update-usage.golden
  cmd/scw/testdata/test-all-usage-block-volume-usage.golden
  cmd/scw/testdata/test-main-usage-usage.golden
  docs/commands/block.md
  internal/namespaces/block/v1alpha1/custom.go
  internal/namespaces/get_commands.go
Labels: enhancement, sbs

#3469 feat(args): handle scw.Duration unmarshal as flat field
  internal/args/unmarshal.go
Labels: enhancement, core

#3509 fix(instance): server delete with sbs volumes
  internal/namespaces/instance/v1/custom_server.go
  internal/namespaces/instance/v1/custom_server_test.go
  internal/namespaces/instance/v1/testdata/test-server-delete-with-sbs-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-delete-with-sbs-volumes.golden
Labels: bug, sbs

#3515 feat(iam): add color for logs action
  internal/namespaces/iam/v1alpha1/custom.go
Labels: enhancement, iam

#2689 feat(lb): improve backend help in case healthcheck is missing
  internal/namespaces/lb/v1/custom_backend.go
Labels: enhancement, load-balancer, priority:high

#3521 feat(rdb): ipam config for private endpoints
  cmd/scw/testdata/test-all-usage-rdb-instance-create-usage.golden
  cmd/scw/testdata/test-all-usage-rdb-instance-delete-usage.golden
  docs/commands/rdb.md
  internal/namespaces/rdb/v1/custom.go
  internal/namespaces/rdb/v1/custom_instance.go
  internal/namespaces/rdb/v1/custom_instance_test.go
  internal/namespaces/rdb/v1/testdata/test-create-instance-simple.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-create-instance-simple.golden
  internal/namespaces/rdb/v1/testdata/test-create-instance-with-ipam-private-endpoint.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-create-instance-with-ipam-private-endpoint.golden
  internal/namespaces/rdb/v1/testdata/test-create-instance-with-password-generator.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-create-instance-with-static-private-endpoint.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-create-instance-with-static-private-endpoint.golden
Labels: enhancement, rdb, priority:high
