Repository scaleway/scaleway-cli, pull requests merged in 2023-10, with the labels that each got.

#3403 feat(instance): add H100 server types
  internal/namespaces/instance/v1/helpers_types.go
Labels: enhancement, instance

#3410 fix(instance): image create additional volumes field
  cmd/scw/testdata/test-all-usage-instance-image-create-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom_image.go
Labels: bug, instance

#3415 docs(autocomplete): add back deleted doc
  docs/commands/autocomplete.md
Labels: documentation, autocomplete

#3433 feat(mnq): enable v1beta1 commands
  internal/namespaces/get_commands.go
  internal/namespaces/mnq/v1beta1/custom.go
  internal/namespaces/mnq/v1beta1/custom_sqs.go
Labels: enhancement, mnq

#3448 docs(iam): update api-key links
  docs/commands/config.md
  internal/core/command_interceptor.go
  internal/namespaces/config/commands.go
Labels: documentation, iam

#3456 fix(vpc): add k8s view on get private-network + goconst lint
  internal/namespaces/instance/v1/custom_ssh_config.go
  internal/namespaces/instance/v1/helpers_test.go
  internal/namespaces/vpc/v2/custom_private_network.go
Labels: bug, vpc
