Repository scaleway/scaleway-cli, pull requests merged in 2023-01, with the labels that each got.

#2708 feat(core/autocomplete): complete content of args using list verbs
  README.md
  cmd/scw/main.go
  internal/core/autocomplete.go
  internal/core/autocomplete_test.go
  internal/core/autocomplete_utils.go
  internal/core/bootstrap.go
  internal/core/context.go
Labels: enhancement, autocomplete, core

#2715 feat(instance): get pnic from mac address
  cmd/scw/testdata/test-all-usage-instance-private-nic-get-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom.go
  internal/namespaces/instance/v1/custom_privatenics.go
  internal/namespaces/instance/v1/custom_privatenics_test.go
  internal/namespaces/instance/v1/helpers_test.go
  internal/namespaces/instance/v1/testdata/test-get-private-nic-get-from-id.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-get-private-nic-get-from-id.golden
  internal/namespaces/instance/v1/testdata/test-get-private-nic-get-from-mac-address.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-get-private-nic-get-from-mac-address.golden
Labels: enhancement, instance, vpc

#2721 feat(core): add scw.JSONObject marshaler
  internal/human/marshal_func.go
Labels: enhancement, core

#2730 fix(instance): add ENT1-XS and ENT1-XXS to the CLI
  cmd/scw/testdata/test-all-usage-instance-server-create-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom_server_create.go
Labels: instance

#2743 bump(docs): Add missing namespaces on README
  README.md
Labels: documentation

#2741 feat(config): add info command
  cmd/scw/testdata/test-all-usage-config-info-usage.golden
  docs/commands/config.md
  internal/core/testing.go
  internal/core/testing_test.go
  internal/namespaces/config/commands.go
  internal/namespaces/config/commands_test.go
  internal/namespaces/config/testdata/test-config-info-command-profile.golden
  internal/namespaces/config/testdata/test-config-info-command-simple.golden
  internal/namespaces/config/testdata/test-config-info-command-unknown-profile.golden
Labels: enhancement, config, priority:high

#2747 tests: golden regex replace only actual output
  internal/core/testing.go
  internal/namespaces/config/commands_test.go
  internal/namespaces/config/testdata/test-config-info-command-profile.golden
  internal/namespaces/config/testdata/test-config-info-command-simple.golden
Labels: bug, tests
