Repository scaleway/scaleway-cli, pull requests merged in 2023-08, with the labels that each got.

#3312 fix(instance): check only l_ssd image for server-type compatibility
  internal/namespaces/instance/v1/custom_server_create.go
Labels: bug, instance

#3317 fix: fix sentry version
  .github/dependabot.yml
  go.mod
  go.sum
Labels: bug, core

#3309 feat(instance): add server action command
  cmd/scw/testdata/test-all-usage-instance-server-action-usage.golden
  cmd/scw/testdata/test-all-usage-instance-server-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom.go
  internal/namespaces/instance/v1/custom_server.go
  internal/namespaces/instance/v1/custom_server_action.go
  internal/namespaces/instance/v1/custom_server_action_test.go
  internal/namespaces/instance/v1/custom_server_test.go
  internal/namespaces/instance/v1/testdata/test-server-action-manual-poweron.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-action-manual-poweron.golden
Labels: enhancement, instance

#3316 fix(instance): ssh config public-gateway invalid zones
  internal/namespaces/instance/v1/custom_ssh_config.go
Labels: bug, instance

#3325 feat(vpc): make get private-network show all attached resources
  internal/namespaces/vpc/v2/custom.go
  internal/namespaces/vpc/v2/custom_private_network.go
  internal/namespaces/vpc/v2/custom_private_network_test.go
  internal/namespaces/vpc/v2/helper_test.go
  internal/namespaces/vpc/v2/testdata/test-get-private-network-multiple.cassette.yaml
  internal/namespaces/vpc/v2/testdata/test-get-private-network-multiple.golden
  internal/namespaces/vpc/v2/testdata/test-get-private-network-simple.cassette.yaml
  internal/namespaces/vpc/v2/testdata/test-get-private-network-simple.golden
Labels: enhancement, ux, vpc

#3341 fix(rdb): user list region
  internal/namespaces/rdb/v1/custom_user.go
Labels: bug, rdb
