Repository scaleway/scaleway-cli, pull requests merged in 2024-03, with the labels that each got.

#3692 tests(e2e): skip tests using test api
  internal/core/bootstrap_test.go
  internal/e2e/errors_test.go
  internal/e2e/human_test.go
  internal/e2e/sdk_errors_test.go
Labels: tests

#3693 feat(autocomplete): pass partial request to autocompleteFunc
  internal/core/autocomplete.go
  internal/core/autocomplete_test.go
  internal/core/autocomplete_utils.go
  internal/namespaces/iam/v1alpha1/custom.go
  internal/namespaces/instance/v1/custom_server.go
  internal/namespaces/instance/v1/custom_server_create.go
  internal/namespaces/instance/v1/helpers_types.go
  internal/namespaces/k8s/v1/custom_cluster.go
  internal/namespaces/rdb/v1/custom_instance.go
Labels: enhancement, autocomplete

#3710 feat(wasm): bump go to 1.21
  .github/workflows/wasm.yml
  internal/wasm/roundtrip.go
  internal/wasm/run.go
  wasm/package.json
  wasm/wasm_exec.cjs
  wasm/wasm_exec_node.cjs
Labels: wasm

#3600 fix(vpc):better rendering of subnet in private network
  cmd/scw/testdata/test-all-usage-instance-server-delete-usage.golden
  internal/namespaces/instance/v1/custom_server.go
  internal/namespaces/vpc/v2/custom.go
  internal/namespaces/vpc/v2/custom_private_network.go
  internal/namespaces/vpc/v2/helper_test.go
  internal/namespaces/vpc/v2/testdata/test-get-private-network-multiple.cassette.yaml
  internal/namespaces/vpc/v2/testdata/test-get-private-network-multiple.golden
  internal/namespaces/vpc/v2/testdata/test-get-private-network-simple.cassette.yaml
  internal/namespaces/vpc/v2/testdata/test-get-private-network-simple.golden
Labels: instance, vpc

#3382 ci(wasm): publish
  .github/workflows/release.yml
  wasm/package.json
Labels: priority:highest, wasm
