Repository scaleway/scaleway-cli, pull requests merged in 2024-09, with the labels that each got.

#4104 fix(vpc): re-enable route
  cmd/scw/testdata/test-all-usage-vpc-usage.golden
  docs/commands/vpc.md
  internal/namespaces/vpc/v2/custom.go
Labels: vpc

#4116 chore: bump scaleway sdk-go
  go.mod
  go.sum
  internal/namespaces/instance/v1/custom_server.go
  internal/namespaces/instance/v1/custom_server_action_test.go
Labels: instance

#4122 chore(instance): ignore routed-ip-enabled depreciation
  internal/namespaces/instance/v1/custom_server.go
  internal/namespaces/instance/v1/custom_server_action_test.go
  internal/namespaces/instance/v1/custom_server_create_builder.go
Labels: instance

#4148 test(init): override SHELL variable to not depend on local shell
  internal/namespaces/autocomplete/autocomplete.go
  internal/namespaces/init/init_test.go
Labels: init, tests
