Repository scaleway/scaleway-cli, pull requests merged in 2024-06, with the labels that each got.

#3680 feat(instance): get rdp password and decrypt it
  cmd/scw/testdata/test-all-usage-instance-server-get-rdp-password-usage.golden
  cmd/scw/testdata/test-all-usage-instance-server-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom.go
  internal/namespaces/instance/v1/custom_server_rdp.go
Labels: enhancement, instance, priority:high

#3863 feat(instance): improve support of windows based servers
  cmd/scw/testdata/test-all-usage-instance-server-create-usage.golden
  cmd/scw/testdata/test-all-usage-instance-server-get-rdp-password-usage.golden
  cmd/scw/testdata/test-all-usage-instance-server-usage.golden
  docs/commands/instance.md
  go.mod
  go.sum
  internal/namespaces/instance/v1/custom_server.go
  internal/namespaces/instance/v1/custom_server_create.go
  internal/namespaces/instance/v1/custom_server_create_test.go
  internal/namespaces/instance/v1/custom_server_rdp.go
  internal/namespaces/instance/v1/custom_server_rdp_test.go
  internal/namespaces/instance/v1/helpers_types.go
  internal/namespaces/instance/v1/helpers_types_gen.go
  internal/namespaces/instance/v1/testdata/test-create-server-errors-errorssh-key-id-is-required.golden
  internal/namespaces/instance/v1/testdata/test-server-get-rdp-password-simple.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-get-rdp-password-simple.golden
  internal/namespaces/instance/v1/testfixture/id_rsa
Labels: enhancement, instance

#3884 fix(key_manager): fix the base64 encoding and decoding
  cmd/scw/testdata/test-all-usage-keymanager-key-decrypt-usage.golden
  cmd/scw/testdata/test-all-usage-keymanager-key-encrypt-usage.golden
  docs/commands/keymanager.md
  internal/namespaces/key_manager/v1alpha1/custom.go
  internal/namespaces/key_manager/v1alpha1/key_manager_cli.go
Labels: enhancement, secret
