Repository scaleway/scaleway-cli, pull requests merged in 2024-02, with the labels that each got.

#3582 feat(rdb): add endpoints management
  cmd/scw/testdata/test-all-usage-rdb-endpoint-create-usage.golden
  cmd/scw/testdata/test-all-usage-rdb-endpoint-delete-usage.golden
  cmd/scw/testdata/test-all-usage-rdb-endpoint-get-usage.golden
  cmd/scw/testdata/test-all-usage-rdb-endpoint-list-usage.golden
  cmd/scw/testdata/test-all-usage-rdb-endpoint-usage.golden
  docs/commands/rdb.md
  internal/namespaces/rdb/v1/custom.go
  internal/namespaces/rdb/v1/custom_acl.go
  internal/namespaces/rdb/v1/custom_endpoint.go
  internal/namespaces/rdb/v1/custom_endpoint_test.go
  internal/namespaces/rdb/v1/custom_instance.go
  internal/namespaces/rdb/v1/custom_instance_test.go
  internal/namespaces/rdb/v1/helper_test.go
  internal/namespaces/rdb/v1/testdata/test-add-acl-multiple.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-add-acl-multiple.golden
  internal/namespaces/rdb/v1/testdata/test-add-acl-simple.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-add-acl-simple.golden
  internal/namespaces/rdb/v1/testdata/test-create-instance-simple.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-create-instance-simple.golden
  internal/namespaces/rdb/v1/testdata/test-create-instance-with-password-generator.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-delete-acl-multiple-when-not-set.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-delete-acl-multiple-when-not-set.golden
  internal/namespaces/rdb/v1/testdata/test-delete-acl-multiple-when-set.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-delete-acl-multiple-when-set.golden
  internal/namespaces/rdb/v1/testdata/test-delete-acl-simple.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-endpoint-create-private-ipam.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-endpoint-create-private-ipam.golden
  internal/namespaces/rdb/v1/testdata/test-endpoint-create-private-static.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-endpoint-create-private-static.golden
  internal/namespaces/rdb/v1/testdata/test-endpoint-create-public.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-endpoint-create-public.golden
  internal/namespaces/rdb/v1/testdata/test-endpoint-delete-all.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-endpoint-delete-all.golden
  internal/namespaces/rdb/v1/testdata/test-endpoint-delete-private.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-endpoint-delete-private.golden
  internal/namespaces/rdb/v1/testdata/test-endpoint-delete-public.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-endpoint-delete-public.golden
  internal/namespaces/rdb/v1/testdata/test-endpoint-get-private.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-endpoint-get-private.golden
  internal/namespaces/rdb/v1/testdata/test-endpoint-get-public.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-endpoint-get-public.golden
  internal/namespaces/rdb/v1/testdata/test-endpoint-list-multiple-endpoints.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-endpoint-list-multiple-endpoints.golden
  internal/namespaces/rdb/v1/testdata/test-set-acl-multiple.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-set-acl-multiple.golden
  internal/namespaces/rdb/v1/testdata/test-set-acl-simple.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-set-acl-simple.golden
  internal/namespaces/vpc/v2/helper_test.go
  internal/namespaces/vpc/v2/testdata/test-get-private-network-multiple.cassette.yaml
  internal/namespaces/vpc/v2/testdata/test-get-private-network-multiple.golden
Labels: rdb, priority:medium

#3679 fix(instance): use routed-ip-enabled for IP type when explicit
  internal/namespaces/instance/v1/custom_server_create.go
Labels: bug, instance

#3681 feat(init): consider secret-key as sensitive in prompt
  internal/namespaces/init/prompt.go
Labels: enhancement, init

#3678 docs(ipam): add in readme
  README.md
Labels: documentation, vpc

#3677 feat(billing): remove v2alpha1 and add download & export custom commands
  cmd/scw/testdata/test-all-usage-billing-invoice-download-usage.golden
  cmd/scw/testdata/test-all-usage-billing-invoice-export-usage.golden
  docs/commands/billing.md
  internal/namespaces/billing/v2alpha1/billing_cli.go
  internal/namespaces/billing/v2alpha1/custom.go
  internal/namespaces/billing/v2beta1/custom.go
  internal/namespaces/billing/v2beta1/custom_invoice_download.go
  internal/namespaces/billing/v2beta1/custom_invoice_export.go
  internal/namespaces/billing/v2beta1/helpers.go
Labels: enhancement, billing
