Repository scaleway/scaleway-cli, pull requests merged in 2024-10, with the labels that each got.

#4140 feat(instance): server create with custom iops volumes
  cmd/scw/testdata/test-all-usage-instance-server-create-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom_server_create.go
  internal/namespaces/instance/v1/custom_server_create_builder.go
  internal/namespaces/instance/v1/custom_server_create_test.go
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-already-attached-additional-volume-id.golden
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-additional-volume-snapshot-id.golden
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-root-volume-format.golden
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-root-volume-id.golden
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-root-volume-snapshot-id.golden
  internal/namespaces/instance/v1/testdata/test-create-server-volumes-create-sbs-root-volume-with-iops.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-volumes-create-sbs-root-volume.cassette.yaml
Labels: instance

#4202 fix(instance): optional image field
  go.mod
  go.sum
  internal/namespaces/instance/v1/custom_server_create_builder.go
Labels: instance

#4219 feat(instance): support more IP options in server creation
  cmd/scw/testdata/test-all-usage-instance-server-create-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom_ip.go
  internal/namespaces/instance/v1/custom_server_create.go
  internal/namespaces/instance/v1/custom_server_create_builder.go
  internal/namespaces/instance/v1/custom_server_create_test.go
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-ip.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-ip.golden
  internal/namespaces/instance/v1/testdata/test-create-server-ips-with-ipv6-and-dynamic-ip.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-ips-with-ipv6-and-ipv4.cassette.yaml
Labels: enhancement, instance

#4221 fix(instance): undocument routed-ip-enabled
  cmd/scw/testdata/test-all-usage-instance-server-create-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom_server_create.go
Labels: instance

#4220 tests(instance): update old tests and remove unsupported ones
  internal/namespaces/instance/v1/custom_server_action_test.go
  internal/namespaces/instance/v1/custom_server_create_test.go
  internal/namespaces/instance/v1/instance_cli_test.go
  internal/namespaces/instance/v1/testdata/test-create-server-ips-with-ipv6.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-volume-simple.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-enable-routed-ip-simple.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-enable-routed-ip-simple.golden
Labels: instance, tests

#4224 docs(instance): add dynamic-ip-required default value
  cmd/scw/testdata/test-all-usage-instance-server-create-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom_server_create.go
Labels: documentation, instance

#2785 fix(instance): remove hardcoded offers
  cmd/scw/testdata/test-all-usage-instance-server-create-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom_image_test.go
  internal/namespaces/instance/v1/custom_ip_test.go
  internal/namespaces/instance/v1/custom_placement_group_test.go
  internal/namespaces/instance/v1/custom_server_action_test.go
  internal/namespaces/instance/v1/custom_server_create.go
  internal/namespaces/instance/v1/custom_server_create_test.go
  internal/namespaces/instance/v1/custom_server_test.go
  internal/namespaces/instance/v1/custom_user_data_test.go
  internal/namespaces/instance/v1/helpers_test.go
  internal/namespaces/instance/v1/instance_cli_test.go
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-total-local-volumes-size-too-low2.cassette.yaml
  internal/namespaces/lb/v1/helper_test.go
  internal/namespaces/vpc/v2/helper_test.go
Labels: load-balancer, instance, vpc, priority:lowest
