Repository scaleway/scaleway-cli, pull requests merged in 2024-07, with the labels that each got.

#3920 fix(marketplace): return id in image get command
  internal/namespaces/marketplace/v2/custom_marshal.go
Labels: bug, instance

#3787 feat(instance): support snapshot based instance
  cmd/scw/testdata/test-all-usage-instance-server-create-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom_server_create.go
Labels: instance, priority:medium

#3933 refactor(instance): extract functions from server create command
  cmd/scw/testdata/test-all-usage-instance-server-create-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom_server_create.go
  internal/namespaces/instance/v1/custom_server_create_builder.go
  internal/namespaces/instance/v1/custom_server_create_test.go
Labels: instance

#3951 feat(instance): remove bootscript support from instance server create
  cmd/scw/testdata/test-all-usage-instance-server-create-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom_server_create.go
  internal/namespaces/instance/v1/custom_server_create_builder.go
  internal/namespaces/instance/v1/custom_server_create_test.go
  internal/namespaces/instance/v1/testdata/test-create-server-simple-with-bootscript.cassette.yaml
Labels: enhancement, instance

#3963 refactor(instance): get server type when loading commercialType
  internal/namespaces/instance/v1/custom_server_create_builder.go
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-image-label.cassette.yaml
Labels: instance

#3962 test(instance): server create with snapshot and no image
  internal/namespaces/instance/v1/custom_server_create_test.go
  internal/namespaces/instance/v1/testdata/test-create-server-volumes-valid-single-local-snapshot-without-image.cassette.yaml
Labels: instance, tests

#3986 feat(vpc): add route resource
  cmd/scw/testdata/test-all-usage-vpc-vpc-usage.golden
  docs/commands/vpc.md
  internal/core/command.go
  internal/namespaces/vpc/v2/custom.go
  internal/namespaces/vpc/v2/vpc_cli.go
Labels: vpc

#3984 docs(instance): fix typo in snapshot doc
  cmd/scw/testdata/test-all-usage-instance-snapshot-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/instance_cli.go
Labels: documentation, instance

#3985 feat(cockpit/v1): add datasource update command
  internal/namespaces/cockpit/v1/cockpit_cli.go
Labels: enhancement, cockpit
