Repository scaleway/scaleway-cli, pull requests merged in 2024-04, with the labels that each got.

#3733 docs: update developers website url
  README.md
  docs/CONTINUOUS_CODE_DEPLOYMENT.md
  internal/namespaces/instance/v1/helpers_test.go
  internal/qa/qa.go
  scripts/README.md
Labels: documentation

#3753 feat(iam): improve rules handling
  cmd/scw/testdata/test-all-usage-iam-rule-create-usage.golden
  cmd/scw/testdata/test-all-usage-iam-rule-delete-usage.golden
  cmd/scw/testdata/test-all-usage-iam-rule-usage.golden
  docs/commands/iam.md
  internal/core/testing.go
  internal/namespaces/iam/v1alpha1/custom.go
  internal/namespaces/iam/v1alpha1/custom_policy.go
  internal/namespaces/iam/v1alpha1/custom_policy_test.go
  internal/namespaces/iam/v1alpha1/custom_rule.go
  internal/namespaces/iam/v1alpha1/custom_rule_test.go
  internal/namespaces/iam/v1alpha1/testdata/test-create-rule-simple.cassette.yaml
  internal/namespaces/iam/v1alpha1/testdata/test-create-rule-simple.golden
  internal/namespaces/iam/v1alpha1/testdata/test-delete-rule-simple.cassette.yaml
  internal/namespaces/iam/v1alpha1/testdata/test-delete-rule-simple.golden
  internal/namespaces/iam/v1alpha1/testdata/test-get-policy-with-rules-simple.cassette.yaml
  internal/namespaces/iam/v1alpha1/testdata/test-get-policy-with-rules-simple.golden
Labels: enhancement, iam

#3597 feat(rdb): acl set simplified [UI breaking-change]
  cmd/scw/testdata/test-all-usage-rdb-acl-set-usage.golden
  docs/commands/rdb.md
  internal/core/cobra_utils.go
  internal/namespaces/rdb/v1/custom_acl.go
  internal/namespaces/rdb/v1/custom_acl_test.go
  internal/namespaces/rdb/v1/testdata/test-set-acl-multiple.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-set-acl-multiple.golden
  internal/namespaces/rdb/v1/testdata/test-set-acl-simple.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-set-acl-simple.golden
Labels: enhancement, rdb, priority:medium

#3760 fix(instance): show unknown server-type availability when missing
  internal/namespaces/instance/v1/custom_server_type.go
Labels: bug, instance

#3740 feat(secret): add examples and tests to v1beta1
  cmd/scw/testdata/test-all-usage-secret-version-access-usage.golden
  cmd/scw/testdata/test-all-usage-secret-version-create-usage.golden
  docs/commands/secret.md
  internal/namespaces/secret/v1beta1/custom.go
  internal/namespaces/secret/v1beta1/custom_secret_version.go
  internal/namespaces/secret/v1beta1/custom_secret_version_test.go
  internal/namespaces/secret/v1beta1/helper_test.go
  internal/namespaces/secret/v1beta1/testdata/test-access-secret-simple.cassette.yaml
  internal/namespaces/secret/v1beta1/testdata/test-access-secret-simple.golden
Labels: enhancement, priority:high, secret

#3774 chore(instance): fix linter for deprecated fields
  .golangci.yml
Labels: instance

#3670 feat(baremetal): add support for add flexible ip
  cmd/scw/testdata/test-all-usage-baremetal-server-add-flexible-ip-usage.golden
  cmd/scw/testdata/test-all-usage-baremetal-server-usage.golden
  docs/commands/baremetal.md
  internal/interactive/list.go
  internal/namespaces/baremetal/v1/custom.go
  internal/namespaces/baremetal/v1/custom_server_fip.go
  internal/namespaces/baremetal/v1/custom_server_fip_prompt.go
  internal/namespaces/baremetal/v1/custom_server_fip_test.go
  internal/namespaces/baremetal/v1/helpers_test.go
  internal/namespaces/baremetal/v1/testdata/test-create-flexible-ip-interactive-simple-interactive.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-create-flexible-ip-interactive-simple-interactive.golden
  internal/namespaces/baremetal/v1/testdata/test-create-flexible-ip-simple.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-create-flexible-ip-simple.golden
  internal/namespaces/flexibleip/v1alpha1/custom.go
  internal/namespaces/flexibleip/v1alpha1/custom_ip.go
Labels: elastic-metal, priority:highest, flexible-ip

#3727 feat(core):handle oneof validation
  cmd/scw/testdata/test-all-usage-rdb-instance-create-usage.golden
  docs/commands/rdb.md
  internal/core/validate.go
  internal/core/validate_test.go
  internal/namespaces/rdb/v1/custom_instance.go
Labels: core, priority:medium

#3785 tests(mnq): use tmp home dir in context tests
  internal/namespaces/mnq/v1beta1/custom_nats_test.go
Labels: tests, mnq
