Repository scaleway/scaleway-cli, pull requests merged in 2024-11, with the labels that each got.

#4248 feat(instance): handle sbs volumes in server backup
  internal/namespaces/instance/v1/custom_image.go
  internal/namespaces/instance/v1/custom_server_action.go
  internal/namespaces/instance/v1/custom_server_action_test.go
  internal/namespaces/instance/v1/testdata/test-server-backup-with-sbs-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-backup-with-sbs-volumes.golden
Labels: enhancement, instance, priority:high

#4281 fix: migrate to vpc/v2
  internal/namespaces/instance/v1/custom_server.go
  internal/namespaces/rdb/v1/custom_endpoint_test.go
  internal/namespaces/rdb/v1/custom_instance_test.go
  internal/namespaces/rdb/v1/helper_test.go
  internal/namespaces/rdb/v1/testdata/test-connect-psql#01.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-connect-psql.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-create-instance-init-endpoints-with-ipam-private-endpoint.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-create-instance-init-endpoints-with-ipam-private-endpoint.golden
  internal/namespaces/rdb/v1/testdata/test-create-instance-init-endpoints-with-public-and-ipam-private-endpoint.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-create-instance-init-endpoints-with-public-and-ipam-private-endpoint.golden
  internal/namespaces/rdb/v1/testdata/test-create-instance-init-endpoints-with-public-and-static-private-endpoint.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-create-instance-init-endpoints-with-public-and-static-private-endpoint.golden
  internal/namespaces/rdb/v1/testdata/test-create-instance-init-endpoints-with-static-private-endpoint.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-create-instance-init-endpoints-with-static-private-endpoint.golden
  internal/namespaces/rdb/v1/testdata/test-endpoint-create-private-ipam.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-endpoint-create-private-ipam.golden
  internal/namespaces/rdb/v1/testdata/test-endpoint-create-private-static.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-endpoint-create-private-static.golden
  internal/namespaces/rdb/v1/testdata/test-endpoint-create-public.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-endpoint-create-public.golden
  internal/namespaces/rdb/v1/testdata/test-endpoint-delete-all.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-endpoint-delete-private.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-endpoint-delete-public.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-endpoint-get-private.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-endpoint-get-private.golden
  internal/namespaces/rdb/v1/testdata/test-endpoint-get-public.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-endpoint-get-public.golden
  internal/namespaces/rdb/v1/testdata/test-endpoint-list-multiple-endpoints.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-endpoint-list-multiple-endpoints.golden
Labels: rdb, instance

#4313 chore: bump sdk go
  go.mod
  go.sum
  internal/namespaces/instance/v1/custom_server.go
  internal/namespaces/instance/v1/custom_server_action.go
  internal/namespaces/instance/v1/custom_server_create_test.go
  internal/namespaces/instance/v1/custom_server_test.go
  internal/namespaces/instance/v1/helpers_types.go
  internal/namespaces/instance/v1/testdata/test-create-server-volumes-create-sbs-root-volume-with-iops.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-volumes-create-sbs-root-volume.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-volumes-sbs-additional-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-volumes-use-sbs-root-volume.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-volumes-valid-additional-block-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-volumes-valid-double-local-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-volumes-valid-double-snapshot.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-volumes-valid-single-local-snapshot-without-image.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-volumes-valid-single-local-snapshot.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-volumes-valid-single-local-volume.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-delete-only-block-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-delete-only-block-volumes.golden
  internal/namespaces/instance/v1/testdata/test-server-delete-only-local-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-delete-only-local-volumes.golden
  internal/namespaces/instance/v1/testdata/test-server-delete-with-all-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-delete-with-all-volumes.golden
  internal/namespaces/instance/v1/testdata/test-server-delete-with-multiple-ips.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-delete-with-multiple-ips.golden
  internal/namespaces/instance/v1/testdata/test-server-delete-with-none-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-delete-with-none-volumes.golden
  internal/namespaces/instance/v1/testdata/test-server-delete-with-sbs-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-delete-with-sbs-volumes.golden
  internal/namespaces/instance/v1/testdata/test-server-update-custom-try-to-remove-ip-from-server-without-ip.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-update-custom-update-server-ip-from-server-with-ip.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-update-custom-update-server-ip-from-server-without-ip.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-update-custom-update-server-placement-group-id-from-server-with-placement-group-id.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-update-custom-update-server-security-group-id-from-server-with-security-group-id.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-update-custom-volumes-detach-all-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-update-custom-volumes-valid-simple-block-volume.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-volume-update-attach-invalid-volume-uuid.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-volume-update-attach-simple-block-volume.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-volume-update-attach-simple-local-volume.cassette.yaml
Labels: instance
