Repository scaleway/scaleway-cli, pull requests merged in 2024-08, with the labels that each got.

#4039 fix linter error
  internal/core/error.go
  internal/namespaces/baremetal/v1/helpers_test.go
  internal/namespaces/iam/v1alpha1/error.go
  internal/namespaces/instance/v1/custom_server_create.go
  internal/namespaces/rdb/v1/custom_instance.go
Labels: rdb, instance, iam, baremetal

#4049 chore: add support for testifylint
  .golangci.yml
  internal/args/marshal_test.go
  internal/args/unmarshal_test.go
  internal/core/cobra_utils_test.go
  internal/core/result_test.go
  internal/core/testing.go
  internal/namespaces/instance/v1/instance_cli_test.go
Labels: instance

#4062 chore: add support for wastedassign
  .golangci.yml
  internal/human/marshal.go
  internal/interactive/prompt.go
  internal/namespaces/object/v1/s3_helpers.go
  internal/namespaces/rdb/v1/custom_acl.go
  internal/namespaces/rdb/v1/custom_instance.go
  internal/qa/ignore.go
Labels: rdb

#4066 chore: add support for errchkjson
  .golangci.yml
  internal/namespaces/mnq/v1beta1/custom_nats_helpers.go
Labels: mnq

#4072 chore: add support for thelper, reassign, canonicalheader
  .golangci.yml
  internal/args/args_test.go
  internal/args/marshal_test.go
  internal/args/unmarshal_test.go
  internal/core/autocomplete_test.go
  internal/core/bootstrap_test.go
  internal/core/build_info_test.go
  internal/core/checks_test.go
  internal/core/cobra_utils_test.go
  internal/core/command_interceptor_test.go
  internal/core/default_test.go
  internal/core/reflect_test.go
  internal/core/testing.go
  internal/core/testing_recorder.go
  internal/core/validate_test.go
  internal/gofields/gofields_test.go
  internal/human/marshal_test.go
  internal/namespaces/alias/alias_test.go
  internal/namespaces/autocomplete/autocomplete_test.go
  internal/namespaces/baremetal/v1/custom_server_create_test.go
  internal/namespaces/config/commands_test.go
  internal/namespaces/container/v1beta1/custom_container_test.go
  internal/namespaces/iam/v1alpha1/custom_policy_test.go
  internal/namespaces/iam/v1alpha1/custom_rule_test.go
  internal/namespaces/init/custom_init_autocomplete_test.go
  internal/namespaces/init/init_test.go
  internal/namespaces/instance/v1/args_test.go
  internal/namespaces/instance/v1/custom_image_test.go
  internal/namespaces/instance/v1/custom_server_action_test.go
  internal/namespaces/instance/v1/custom_server_create_test.go
  internal/namespaces/instance/v1/custom_server_rdp_test.go
  internal/namespaces/instance/v1/custom_server_test.go
  internal/namespaces/instance/v1/custom_snapshot_test.go
  internal/namespaces/instance/v1/custom_ssh_config_test.go
  internal/namespaces/instance/v1/custom_ssh_key_test.go
  internal/namespaces/instance/v1/instance_cli_test.go
  internal/namespaces/k8s/v1/custom_kubeconfig_get_test.go
  internal/namespaces/k8s/v1/custom_kubeconfig_install_test.go
  internal/namespaces/k8s/v1/custom_kubeconfig_uninstall_test.go
  internal/namespaces/mnq/v1beta1/custom_nats_test.go
  internal/namespaces/object/v1/custom_bucket_test.go
  internal/namespaces/object/v1/custom_config_install_test.go
  internal/namespaces/rdb/v1/custom_acl_test.go
  internal/namespaces/rdb/v1/custom_endpoint_test.go
  internal/namespaces/rdb/v1/custom_instance_test.go
  internal/namespaces/rdb/v1/custom_url_test.go
  internal/namespaces/redis/v1/custom_cluster_test.go
  internal/namespaces/registry/v1/custom_docker_helper_test.go
  internal/namespaces/secret/v1beta1/custom_secret_version_test.go
  internal/tabwriter/tabwriter_test.go
Labels: registry, rdb, instance, k8s, container, redis, iam, mnq, secret, baremetal

#4069 feat(k8s): add exec-credential
  cmd/scw/testdata/test-all-usage-k8s-usage.golden
  internal/namespaces/k8s/v1/custom.go
  internal/namespaces/k8s/v1/custom_execcredentials.go
  internal/namespaces/k8s/v1/custom_execcredentials_test.go
  internal/namespaces/k8s/v1/testdata/test-exec-credential-simple.golden
  internal/namespaces/k8s/v1/testdata/test-exec-credential-with-profile-env-and-flag.golden
  internal/namespaces/k8s/v1/testdata/test-exec-credential-with-profile-env.golden
  internal/namespaces/k8s/v1/testdata/test-exec-credential-with-profile-flag.golden
  internal/namespaces/k8s/v1/testdata/test-exec-credential-with-scw-secret-key-env.golden
Labels: k8s

#4063 chore: add support for gocritic
  .golangci.yml
  cmd/scw/main.go
  internal/args/marshal.go
  internal/core/autocomplete.go
  internal/core/autocomplete_test.go
  internal/core/autocomplete_utils.go
  internal/core/cobra_utils.go
  internal/core/command.go
  internal/core/command_interceptor.go
  internal/core/reflect_test.go
  internal/core/shell.go
  internal/core/testing.go
  internal/gofields/gofields.go
  internal/human/marshal_func.go
  internal/human/marshal_test.go
  internal/interactive/list.go
  internal/interactive/prompt.go
  internal/namespaces/autocomplete/errors.go
  internal/namespaces/baremetal/v1/custom_offer.go
  internal/namespaces/billing/v2beta1/custom_invoice_download.go
  internal/namespaces/billing/v2beta1/custom_invoice_export.go
  internal/namespaces/init/prompt.go
  internal/namespaces/instance/v1/custom_server_create.go
  internal/namespaces/instance/v1/custom_server_create_builder.go
  internal/namespaces/instance/v1/custom_ssh_key.go
  internal/namespaces/instance/v1/custom_ssh_key_test.go
  internal/namespaces/k8s/v1/custom_node.go
  internal/namespaces/rdb/v1/custom_endpoint.go
  internal/namespaces/rdb/v1/custom_url.go
  internal/namespaces/redis/v1/custom_cluster_test.go
  internal/passwordgenerator/password_generator_test.go
Labels: rdb, instance, k8s, redis, billing, baremetal

#4061 chore: add support for nilerr
  .golangci.yml
  internal/namespaces/config/commands.go
  internal/namespaces/instance/v1/custom_server_rdp.go
  internal/namespaces/instance/v1/custom_ssh_config.go
  internal/namespaces/object/v1/s3configfile.go
  internal/namespaces/rdb/v1/custom_instance.go
  internal/namespaces/registry/v1/custom_image.go
  internal/namespaces/registry/v1/custom_tag.go
Labels: registry, rdb, instance

#4078 chore(k8s): drop github.com/kubernetes-client/go-base dependency
  go.mod
  go.sum
  internal/namespaces/k8s/v1/custom_kubeconfig_get.go
  internal/namespaces/k8s/v1/custom_kubeconfig_get_test.go
  internal/namespaces/k8s/v1/custom_kubeconfig_helpers.go
  internal/namespaces/k8s/v1/custom_kubeconfig_install.go
  internal/namespaces/k8s/v1/custom_kubeconfig_install_test.go
  internal/namespaces/k8s/v1/custom_kubeconfig_uninstall.go
  internal/namespaces/k8s/v1/custom_kubeconfig_uninstall_test.go
  internal/namespaces/k8s/v1/helpers_test.go
  internal/namespaces/k8s/v1/types/types.go
  internal/namespaces/lb/v1/helper_test.go
Labels: load-balancer, k8s

#4043 feat: add login command
  cmd/scw/testdata/test-all-usage-login-usage.golden
  cmd/scw/testdata/test-main-usage-usage.golden
  docs/commands/login.md
  internal/namespaces/get_commands.go
  internal/namespaces/init/init.go
  internal/namespaces/login/login.go
  internal/namespaces/login/webcallback/options.go
  internal/namespaces/login/webcallback/webcallback.go
  internal/namespaces/login/webcallback/webcallback_test.go
Labels: enhancement, init

#4081 fix(rdb): fix custom type in rdb instance engine
  internal/namespaces/rdb/v1/custom_instance.go
Labels: rdb

#4086 chore: remove secret v1alpha1
  internal/namespaces/secret/v1alpha1/custom.go
  internal/namespaces/secret/v1alpha1/secret_cli.go
Labels: secret

#4090 chore: remove billing v2alpha1
  internal/namespaces/billing/v2alpha1/billing_cli.go
Labels: billing

#4089 chore: remove account v2
  internal/namespaces/account/v2/account_cli.go
Labels: account

#4088 chore: remove vpc v1
  internal/namespaces/vpc/v1/testdata/test-get-private-network-multiple.cassette.yaml
  internal/namespaces/vpc/v1/testdata/test-get-private-network-multiple.golden
  internal/namespaces/vpc/v1/testdata/test-get-private-network-simple.cassette.yaml
  internal/namespaces/vpc/v1/testdata/test-get-private-network-simple.golden
  internal/namespaces/vpc/v1/vpc_cli.go
Labels: vpc
