Repository scaleway/scaleway-cli, pull requests merged in 2024-12, with the labels that each got.

#4136 feat(docs): Add minimum configuration for CLI docs PoC
  .github/workflows/deploy-docs.yml
  docs/commands/index.md
  docs/mkdocs.yml
  docs/static_files/assets/cli-artwork.png
  docs/static_files/assets/logo.svg
  docs/static_files/stylesheets/extra.css
Labels: enhancement, documentation, github_actions

#4348 fix(baremetal): update test to fix nightly
  internal/namespaces/baremetal/v1/custom_server_create_test.go
  internal/namespaces/baremetal/v1/testdata/test-create-server-simple-default.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-create-server-simple-default.golden
  internal/namespaces/baremetal/v1/testdata/test-create-server-simple-tags.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-create-server-simple-with-name.cassette.yaml
Labels: baremetal

#4350 fix(apple-silicon): skip tests and add server-type to create tests
  internal/namespaces/applesilicon/v1alpha1/custom_server_ssh_test.go
  internal/namespaces/applesilicon/v1alpha1/testdata/test-server-ssh-simple.cassette.yaml
  internal/namespaces/applesilicon/v1alpha1/testdata/test-server-ssh-simple.golden
  internal/namespaces/applesilicon/v1alpha1/testdata/test-server-ssh-with-exit-code.cassette.yaml
  internal/namespaces/applesilicon/v1alpha1/testdata/test-server-ssh-with-exit-code.golden
Labels: apple-silicon

#4352 test(instance): default server creation to ip=none
  core/testing.go
  internal/namespaces/instance/v1/custom_image_test.go
  internal/namespaces/instance/v1/custom_placement_group_test.go
  internal/namespaces/instance/v1/custom_server_test.go
  internal/namespaces/instance/v1/helpers_test.go
  internal/namespaces/instance/v1/testdata/test-image-create-create-simple-image.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-image-create-create-simple-image.golden
  internal/namespaces/instance/v1/testdata/test-image-create-use-additional-snapshots.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-image-create-use-additional-snapshots.golden
  internal/namespaces/instance/v1/testdata/test-server-update-custom-update-server-ip-from-server-with-ip.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-update-custom-update-server-ip-from-server-without-ip.cassette.yaml
Labels: instance, tests

#4358 fix(baremetal): add check stock available in stock
  internal/namespaces/baremetal/v1/custom_server_create_test.go
  internal/namespaces/baremetal/v1/custom_server_fip_test.go
  internal/namespaces/baremetal/v1/custom_server_install_test.go
  internal/namespaces/baremetal/v1/custom_server_test.go
  internal/namespaces/baremetal/v1/testdata/test-baremetal-get-offer-simple.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-baremetal-get-offer-simple.golden
  internal/namespaces/baremetal/v1/testdata/test-create-flexible-ip-interactive-simple-interactive.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-create-flexible-ip-interactive-simple-interactive.golden
  internal/namespaces/baremetal/v1/testdata/test-create-flexible-ip-simple.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-create-flexible-ip-simple.golden
  internal/namespaces/baremetal/v1/testdata/test-create-server-simple-default.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-create-server-simple-default.golden
  internal/namespaces/baremetal/v1/testdata/test-create-server-simple-tags.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-create-server-simple-with-name.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-install-server-simple-all-ssh-keys.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-install-server-simple-all-ssh-keys.golden
  internal/namespaces/baremetal/v1/testdata/test-install-server-simple-with-id.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-install-server-simple-with-id.golden
  internal/namespaces/baremetal/v1/testdata/test-list-server-list-with-tags.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-list-server-simple.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-reboot-server-errors-error-cannot-be-rebooted-while-not-delivered.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-start-server-errors-error-cannot-be-started-while-not-delivered.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-stop-server-errors-error-cannot-be-stopped-while-not-delivered.cassette.yaml
Labels: baremetal

#4357 test: move type assertion helpers to testhelpers package
  core/testing.go
  internal/namespaces/instance/v1/custom_image_test.go
  internal/namespaces/instance/v1/custom_server_action_test.go
  internal/namespaces/instance/v1/custom_server_create_test.go
  internal/namespaces/instance/v1/custom_server_rdp_test.go
  internal/namespaces/instance/v1/custom_server_test.go
  internal/namespaces/instance/v1/testdata/test-server-terminate-without-ip.cassette.yaml
  internal/testhelpers/helpers.go
Labels: instance, tests

#4362 test(iam): prevent type assertion from crashing
  internal/namespaces/iam/v1alpha1/custom_rule_test.go
  internal/namespaces/iam/v1alpha1/custom_test.go
Labels: tests, iam

#4363 fix(core): recreate io.Reader after read during file loading
  core/arg_file_content.go
Labels: bug, core

#4364 test(k8s): ignore scw env variable in exec-credentials tests
  internal/namespaces/k8s/v1/custom_execcredentials_test.go
Labels: k8s, tests

#4370 test(instance): fix ssh config install tests
  internal/namespaces/instance/v1/custom_ssh_config_test.go
  internal/namespaces/instance/v1/testdata/test-ssh-config-install-install-config-and-create-default.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-ssh-config-install-install-config-and-include.cassette.yaml
Labels: instance, tests

#4366 chore(instance): extract server delete command from custom_server.go
  internal/namespaces/instance/v1/custom_server.go
  internal/namespaces/instance/v1/custom_server_delete.go
Labels: instance

#4369 tests(vpcgw): update legacy gws to ipam
  internal/namespaces/vpcgw/v1/custom_gateway_network_test.go
  internal/namespaces/vpcgw/v1/testdata/test-vpc-gw-gateway-get-simple.cassette.yaml
  internal/namespaces/vpcgw/v1/testdata/test-vpc-gw-gateway-get-simple.golden
  internal/namespaces/vpcgw/v1/testdata/test-vpc-gw-gateway-network-get-simple.cassette.yaml
  internal/namespaces/vpcgw/v1/testdata/test-vpc-gw-gateway-network-get-simple.golden
  internal/testhelpers/helpers_vpcgw.go
Labels: tests, vpcgw

#4376 test(instance): fix server ssh tests
  internal/namespaces/instance/v1/custom_server_ssh_test.go
  internal/namespaces/instance/v1/testdata/test-server-ssh-simple.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-ssh-stopped-server.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-ssh-stopped-server.golden
  internal/namespaces/instance/v1/testdata/test-server-ssh-with-exit-code.cassette.yaml
Labels: instance, tests

#4377 test(registry): create namespace with random name
  core/testing.go
  internal/namespaces/registry/v1/custom_image_test.go
  internal/namespaces/registry/v1/testdata/test-image-list-simple.cassette.yaml
  internal/namespaces/registry/v1/testdata/test-image-list-simple.golden
Labels: registry, tests

#4382 Fix: image list with zone=all
  internal/namespaces/instance/v1/custom_image.go
Labels: instance

#4388 fix(instance): wait for volumes to be available before deletion
  internal/namespaces/instance/v1/custom_server_delete.go
Labels: bug, instance

#4389 doc(cookbook): add ipam example to find with exact match
  docs/cookbook.md
Labels: documentation
