Repository scaleway/scaleway-cli, pull requests merged in 2025-04, with the labels that each got.

#4630 fix(docs): downgrade awscli version for docs workflow
  .github/workflows/deploy-docs.yml
Labels: documentation, github_actions

#4633 feat(instance): render block volumes details when getting a server
  internal/namespaces/instance/v1/custom_server.go
  internal/namespaces/instance/v1/testdata/test-get-server-simple.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-get-server-simple.golden
Labels: instance

#4655 feat(vpc): add edit mode for acls
  cmd/scw/testdata/test-all-usage-vpc-rule-edit-usage.golden
  cmd/scw/testdata/test-all-usage-vpc-rule-usage.golden
  docs/commands/vpc.md
  internal/namespaces/vpc/v2/custom.go
  internal/namespaces/vpc/v2/custom_acl.go
Labels: vpc

#4686 feat(instance): display server details for get-compatible-types
  internal/namespaces/instance/v1/custom.go
  internal/namespaces/instance/v1/custom_server_type.go
Labels: instance

#4692 chore(container): update default builder image for container deploy
  cmd/scw/testdata/test-all-usage-container-deploy-usage.golden
  docs/commands/container.md
  internal/namespaces/container/v1beta1/custom_deploy.go
  internal/namespaces/container/v1beta1/testdata/test-deploy-buildpack.cassette.yaml
  internal/namespaces/container/v1beta1/testdata/test-deploy-buildpack.golden
Labels: container
