Repository scaleway/scaleway-cli, pull requests merged in 2025-05, with the labels that each got.

#4709 feat(iam): support api-key get option to retrieve the ApiKey principal policies
  cmd/scw/testdata/test-all-usage-iam-api-key-get-usage.golden
  core/human/marshal.go
  core/human/marshal_test.go
  core/testing.go
  core/testing_recorder.go
  docs/commands/iam.md
  internal/namespaces/iam/v1alpha1/custom.go
  internal/namespaces/iam/v1alpha1/custom_iam.go
  internal/namespaces/iam/v1alpha1/custom_iam_test.go
  internal/namespaces/iam/v1alpha1/testdata/test-iam-api-key-get-get-member-api-key.cassette.yaml
  internal/namespaces/iam/v1alpha1/testdata/test-iam-api-key-get-get-member-api-key.golden
  internal/namespaces/iam/v1alpha1/testdata/test-iam-api-key-get-get-owner-api-key.cassette.yaml
  internal/namespaces/iam/v1alpha1/testdata/test-iam-api-key-get-get-owner-api-key.golden
  internal/namespaces/k8s/v1/helpers_test.go
  internal/namespaces/k8s/v1/testdata/test-get-cluster-simple.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-get-cluster-simple.golden
  internal/namespaces/k8s/v1/testdata/test-get-kubeconfig-simple.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-get-kubeconfig-simple.golden
  internal/namespaces/k8s/v1/testdata/test-get-version-simple.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-get-version-simple.golden
  internal/namespaces/k8s/v1/testdata/test-install-kubeconfig-merge.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-install-kubeconfig-simple.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-list-version-basic-simple.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-list-version-basic-simple.golden
  internal/namespaces/k8s/v1/testdata/test-uninstall-kubeconfig-empty-file.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-uninstall-kubeconfig-uninstall-merge.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-uninstall-kubeconfig-uninstall.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-wait-cluster-wait-for-pools.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-wait-cluster-wait-for-pools.golden
Labels: k8s, iam

#4719 fix(rdb): allow toggling is-admin without password when generate-pass…
  internal/namespaces/audit_trail/v1alpha1/audit_trail_cli.go
  internal/namespaces/inference/v1beta1/custom_endpoint.go
  internal/namespaces/rdb/v1/custom_user.go
Labels: rdb

#4754 feat(vpc): parallelize private-network get with errgroup
  go.mod
  internal/namespaces/vpc/v2/custom_private_network.go
  internal/namespaces/vpc/v2/testdata/test-get-private-network-multiple.cassette.yaml
  internal/namespaces/vpc/v2/testdata/test-get-private-network-multiple.golden
  internal/namespaces/vpc/v2/testdata/test-get-private-network-simple.cassette.yaml
  internal/namespaces/vpc/v2/testdata/test-get-private-network-simple.golden
Labels: vpc

#4749 chore(instance): add EndOfService warning on server get, create and update
  internal/namespaces/instance/v1/custom_server.go
  internal/namespaces/instance/v1/custom_server_action_test.go
  internal/namespaces/instance/v1/custom_server_create.go
  internal/namespaces/instance/v1/custom_server_create_test.go
  internal/namespaces/instance/v1/custom_server_test.go
  internal/namespaces/instance/v1/custom_ssh_config_test.go
  internal/namespaces/instance/v1/custom_ssh_key_test.go
  internal/namespaces/instance/v1/helpers_test.go
  internal/namespaces/instance/v1/helpers_types.go
  internal/namespaces/instance/v1/instance_cli_test.go
  internal/namespaces/instance/v1/testdata/test-create-server-scratch-storage-default-scratch-storage.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-scratch-storage-default-scratch-storage.golden
  internal/namespaces/instance/v1/testdata/test-create-server-simple-default.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-simple-default.golden
  internal/namespaces/instance/v1/testdata/test-get-server-simple.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-get-server-simple.golden
  internal/namespaces/instance/v1/testdata/test-server-update-simple.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-update-simple.golden
Labels: enhancement, instance, priority:high
