Repository scaleway/scaleway-cli, pull requests merged in 2025-03, with the labels that each got.

#4617 feat(instance): redirect to scw login when no credentials are provided
  core/client.go
  internal/platform/terminal/terminal_client.go
Labels: bug, high-impact, priority:high

#4541 fix(docs): update doc build workflow
  .github/workflows/deploy-docs.yml
Labels: documentation, priority:high, workflow

#4623 chore(lb): update cassette on attach/detach private network
  go.mod
  go.sum
  internal/namespaces/lb/v1/testdata/test-list-lb-private-network-simple.cassette.yaml
  internal/namespaces/vpc/v2/testdata/test-get-private-network-multiple.cassette.yaml
Labels: load-balancer, vpc
