Repository scaleway/scaleway-cli, pull requests merged in 2025-08, with the labels that each got.

#4930 fix(instance): snapshot list: get snapshot using image.Zone
  internal/namespaces/instance/v1/custom_image.go
Labels: bug, instance

#4931 fix(instance): update cassettes with new args detach-vol
  internal/namespaces/instance/v1/testdata/test-server-delete-with-sbs-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-volume-update-attach-simple-block-volume.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-volume-update-attach-simple-local-volume.cassette.yaml
Labels: instance

#4932 fix(instance): remove hardcoded attach and detach volume
  cmd/scw/testdata/test-all-usage-instance-server-usage.golden
  docs/commands/instance.md
  internal/namespaces/instance/v1/custom.go
  internal/namespaces/instance/v1/custom_image_test.go
  internal/namespaces/instance/v1/custom_server.go
  internal/namespaces/instance/v1/custom_server_test.go
  internal/namespaces/instance/v1/custom_snapshot_test.go
Labels: instance

#4935 feat(webhosting): add hosting updating status and free subdomain support
  cmd/scw/testdata/test-all-usage-webhosting-hosting-create-usage.golden
  cmd/scw/testdata/test-all-usage-webhosting-hosting-list-usage.golden
  docs/commands/webhosting.md
  go.mod
  go.sum
  internal/namespaces/webhosting/v1/webhosting_cli.go
Labels: webhosting

#4938 feat(lb): add access_logs field to frontend
  cmd/scw/testdata/test-all-usage-lb-frontend-create-usage.golden
  cmd/scw/testdata/test-all-usage-lb-frontend-update-usage.golden
  docs/commands/lb.md
  internal/namespaces/lb/v1/lb_cli.go
Labels: load-balancer

#4939 feat(k8s): support setting PodCidr, ServiceCidr, and ServiceDNSIP dur…
  cmd/scw/testdata/test-all-usage-k8s-cluster-create-usage.golden
  docs/commands/k8s.md
  internal/namespaces/k8s/v1/k8s_cli.go
Labels: k8s

#4947 fix(apple-silicon): change environmental impact unit to hours
  internal/namespaces/applesilicon/v1alpha1/custom_server_types.go
  internal/namespaces/applesilicon/v1alpha1/testdata/test-server-type-list-base.golden
Labels: apple-silicon

#4946 fix(baremetal): enhance visualization and display pricing info
  internal/namespaces/baremetal/v1/custom_offer.go
  internal/namespaces/baremetal/v1/testdata/test-baremetal-list-offer-simple.golden
Labels: baremetal
