Repository scaleway/scaleway-cli, pull requests merged in 2025-02, with the labels that each got.

#4484 fix(k8s): create PN alongside cluster in correct project
  internal/namespaces/k8s/v1/custom_cluster.go
Labels: bug, k8s

#4490 docs(general): update Readme and doc conf file
  README.md
  docs/commands/index.md
  docs/mkdocs.yml
Labels: documentation

#4501 ci: add support for workflow_dispatch on deploy-docs
  .github/workflows/deploy-docs.yml
Labels: priority:medium

#4513 chore: purge github.com/alecthomas/assert
  core/alias_test.go
  core/arg_specs_test.go
  core/bootstrap_test.go
  core/build_info_test.go
  core/checks_test.go
  core/cobra_usage_builder_test.go
  core/command_interceptor_test.go
  core/default_test.go
  core/human/marshal_test.go
  core/reflect_test.go
  core/shell_test.go
  core/testing_recorder.go
  core/testing_test.go
  core/validate_test.go
  go.mod
  go.sum
  internal/alias/config_test.go
  internal/args/args_test.go
  internal/e2e/sdk_errors_test.go
  internal/editor/editor_test.go
  internal/editor/reflect_test.go
  internal/editor/request_test.go
  internal/gofields/gofields_test.go
  internal/interactive/print_test.go
  internal/interactive/prompt_test.go
  internal/namespaces/alias/alias_test.go
  internal/namespaces/baremetal/v1/custom_server_create_test.go
  internal/namespaces/config/commands_test.go
  internal/namespaces/container/v1beta1/custom_container_test.go
  internal/namespaces/feedback/custom_test.go
  internal/namespaces/iam/v1alpha1/custom_policy_test.go
  internal/namespaces/iam/v1alpha1/custom_rule_test.go
  internal/namespaces/init/init_test.go
  internal/namespaces/instance/v1/custom_image_test.go
  internal/namespaces/instance/v1/custom_server_action_test.go
  internal/namespaces/instance/v1/custom_server_create_test.go
  internal/namespaces/instance/v1/custom_server_rdp_test.go
  internal/namespaces/instance/v1/custom_server_test.go
  internal/namespaces/instance/v1/custom_snapshot_test.go
  internal/namespaces/instance/v1/custom_ssh_config_test.go
  internal/namespaces/instance/v1/custom_ssh_key_test.go
  internal/namespaces/k8s/v1/custom_kubeconfig_get_test.go
  internal/namespaces/k8s/v1/custom_kubeconfig_install_test.go
  internal/namespaces/k8s/v1/custom_kubeconfig_uninstall_test.go
  internal/namespaces/mnq/v1beta1/custom_nats_test.go
  internal/namespaces/object/v1/custom_bucket_test.go
  internal/namespaces/rdb/v1/custom_acl_test.go
  internal/namespaces/rdb/v1/custom_instance_test.go
  internal/namespaces/redis/v1/custom_cluster_test.go
  internal/namespaces/registry/v1/custom_docker_helper_test.go
  internal/namespaces/registry/v1/custom_login_test.go
  internal/namespaces/secret/v1beta1/custom_secret_version_test.go
  internal/tasks/tasks_test.go
  internal/testhelpers/helpers.go
Labels: registry, rdb, instance, k8s, container, redis, iam, mnq, secret, baremetal

#4505 ci: fix windows t.TempDir issue with concurrent delete
  internal/namespaces/instance/v1/custom_user_data_test.go
  internal/namespaces/instance/v1/testdata/test-user-data-file-upload-on-cloud-init.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-user-data-file-upload-on-random-key.cassette.yaml
Labels: instance, priority:low
