Repository scaleway/scaleway-cli, pull requests merged in 2025-06, with the labels that each got.

#4766 fix(instance): display sbs volumes' size in `instance image list` details
  internal/namespaces/instance/v1/custom_image.go
  internal/namespaces/instance/v1/custom_image_test.go
  internal/namespaces/instance/v1/testdata/test-image-list-with-sbs-additional-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-image-list-with-sbs-additional-volumes.golden
  internal/namespaces/instance/v1/testdata/test-image-list-with-sbs-root-volume.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-image-list-with-sbs-root-volume.golden
Labels: bug, instance, priority:highest

#4803 fix(function): update go runtime
  internal/namespaces/function/v1beta1/custom_deploy_test.go
  internal/namespaces/function/v1beta1/testdata/test-deploy-simple.cassette.yaml
  internal/namespaces/function/v1beta1/testdata/test-deploy-simple.golden
Labels: function

#4797 feat(instance): add support detach and attach filesystem
  cmd/scw/testdata/test-all-usage-file-attachment-list-usage.golden
  cmd/scw/testdata/test-all-usage-file-attachment-usage.golden
  cmd/scw/testdata/test-all-usage-file-filesystem-create-usage.golden
  cmd/scw/testdata/test-all-usage-file-filesystem-delete-usage.golden
  cmd/scw/testdata/test-all-usage-file-filesystem-get-usage.golden
  cmd/scw/testdata/test-all-usage-file-filesystem-list-usage.golden
  cmd/scw/testdata/test-all-usage-file-filesystem-update-usage.golden
  cmd/scw/testdata/test-all-usage-file-filesystem-usage.golden
  cmd/scw/testdata/test-all-usage-file-usage.golden
  cmd/scw/testdata/test-main-usage-usage.golden
  commands/commands.go
  docs/commands/file.md
  internal/namespaces/instance/v1/custom_server.go
  internal/namespaces/instance/v1/custom_server_create_test.go
  internal/namespaces/instance/v1/helpers_test.go
  internal/namespaces/instance/v1/testdata/test-attach-filesystem-attach-filesystem.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-attach-filesystem-attach-filesystem.golden
  internal/namespaces/instance/v1/testdata/test-get-server-simple.golden
Labels: instance

#4839 feat(instance) fetch EoS date from PCU API and add it to warning
  internal/namespaces/instance/v1/helpers_types.go
  internal/namespaces/key_manager/v1alpha1/key_manager_cli.go
Labels: enhancement, instance

#4848 fix(instance): delete sbs volumes on instance termination
  internal/namespaces/instance/v1/custom_server_action.go
  internal/namespaces/instance/v1/custom_server_action_test.go
  internal/namespaces/instance/v1/testdata/test-server-terminate-with-block.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-terminate-with-block.golden
  internal/namespaces/instance/v1/testdata/test-server-terminate-with-ip.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-terminate-with-ip.golden
  internal/namespaces/instance/v1/testdata/test-server-terminate-without-block.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-terminate-without-ip.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-terminate-without-ip.golden
Labels: bug, instance, priority:highest

#4863 fix(rdb): handle pointer type in instance create engine autocomplete
  internal/namespaces/rdb/v1/custom_instance.go
Labels: rdb
