Repository scaleway/scaleway-cli, pull requests merged in 2025-01, with the labels that each got.

#4398 test(instance): bump Test_ServerBackup/With_SBS_volumes cassettes
  internal/namespaces/instance/v1/testdata/test-server-backup-with-sbs-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-backup-with-sbs-volumes.golden
Labels: instance, tests

#4412 test(instance): use sbs additionnal volumes with server backup
  internal/namespaces/instance/v1/custom_server_action_test.go
  internal/namespaces/instance/v1/testdata/test-server-backup-with-sbs-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-backup-with-sbs-volumes.golden
Labels: instance, tests

#4434 feat(block): add volume wait command
  cmd/scw/testdata/test-all-usage-block-volume-usage.golden
  cmd/scw/testdata/test-all-usage-block-volume-wait-usage.golden
  docs/commands/block.md
  internal/namespaces/block/v1alpha1/custom.go
  internal/namespaces/block/v1alpha1/custom_volume.go
Labels: enhancement, sbs

#4450 ci : update cassette and goldens for test backup simple
  internal/namespaces/rdb/v1/testdata/test-list-backup-simple.cassette.yaml
  internal/namespaces/rdb/v1/testdata/test-list-backup-simple.golden
Labels: rdb

#4451 ci: update download url date in cassette
  internal/namespaces/rdb/v1/testdata/test-list-backup-simple.cassette.yaml
Labels: rdb

#4454 test(instance): server terminate with ip check PermissionsDenied
  internal/namespaces/instance/v1/custom_server_action_test.go
  internal/namespaces/instance/v1/testdata/test-server-terminate-with-ip.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-terminate-with-ip.golden
Labels: instance, tests

#4455 feat(block): add snapshot wait command
  cmd/scw/testdata/test-all-usage-block-snapshot-create-usage.golden
  cmd/scw/testdata/test-all-usage-block-snapshot-usage.golden
  cmd/scw/testdata/test-all-usage-block-snapshot-wait-usage.golden
  cmd/scw/testdata/test-all-usage-block-volume-create-usage.golden
  docs/commands/block.md
  internal/namespaces/block/v1alpha1/custom.go
  internal/namespaces/block/v1alpha1/custom_snapshot.go
  internal/namespaces/block/v1alpha1/custom_snapshot_test.go
  internal/namespaces/block/v1alpha1/custom_volume.go
  internal/namespaces/block/v1alpha1/custom_volume_test.go
  internal/namespaces/block/v1alpha1/helpers_test.go
  internal/namespaces/block/v1alpha1/testdata/test-snapshot-wait-wait-command.cassette.yaml
  internal/namespaces/block/v1alpha1/testdata/test-snapshot-wait-wait-command.golden
  internal/namespaces/block/v1alpha1/testdata/test-snapshot-wait-wait-flag.cassette.yaml
  internal/namespaces/block/v1alpha1/testdata/test-snapshot-wait-wait-flag.golden
  internal/namespaces/block/v1alpha1/testdata/test-volume-wait-wait-command.cassette.yaml
  internal/namespaces/block/v1alpha1/testdata/test-volume-wait-wait-command.golden
  internal/namespaces/block/v1alpha1/testdata/test-volume-wait-wait-flag.cassette.yaml
  internal/namespaces/block/v1alpha1/testdata/test-volume-wait-wait-flag.golden
Labels: enhancement, sbs

#4435 feat(instance): use sbs api for block volumes
  internal/namespaces/instance/v1/custom_server_action_test.go
  internal/namespaces/instance/v1/custom_server_create_builder.go
  internal/namespaces/instance/v1/custom_server_create_test.go
  internal/namespaces/instance/v1/custom_server_test.go
  internal/namespaces/instance/v1/helpers_test.go
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-additional-volume-snapshot-id.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-root-volume-snapshot-id.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-errors-error-invalid-total-local-volumes-size-too-low2.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-volumes-valid-additional-block-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-server-volumes-valid-double-snapshot.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-delete-only-block-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-delete-only-block-volumes.golden
  internal/namespaces/instance/v1/testdata/test-server-delete-only-local-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-delete-with-all-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-delete-with-all-volumes.golden
  internal/namespaces/instance/v1/testdata/test-server-delete-with-none-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-terminate-with-block.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-terminate-with-block.golden
  internal/namespaces/instance/v1/testdata/test-server-terminate-without-block.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-terminate-without-block.golden
  internal/namespaces/instance/v1/testdata/test-server-update-custom-volumes-detach-all-volumes.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-server-volume-update-detach-simple-block-volume.cassette.yaml
Labels: instance, sbs

#4462 feat(applesilicon): add support for vpc
  cmd/scw/testdata/test-all-usage-apple-silicon-private-network-add-usage.golden
  cmd/scw/testdata/test-all-usage-apple-silicon-private-network-delete-usage.golden
  cmd/scw/testdata/test-all-usage-apple-silicon-private-network-list-usage.golden
  cmd/scw/testdata/test-all-usage-apple-silicon-private-network-set-usage.golden
  cmd/scw/testdata/test-all-usage-apple-silicon-private-network-usage.golden
  cmd/scw/testdata/test-all-usage-apple-silicon-usage.golden
  docs/commands/apple-silicon.md
  go.mod
  go.sum
  internal/namespaces/applesilicon/v1alpha1/applesilicon_cli.go
Labels: apple-silicon

#4467 feat(instance): support sbs volumes in server update
  internal/namespaces/instance/v1/custom_server.go
  internal/namespaces/instance/v1/custom_server_test.go
  internal/namespaces/instance/v1/testdata/test-server-update-custom-volumes-valid-simple-block-volume.cassette.yaml
Labels: enhancement, instance

#4464 fix(docs): update AWSCLI install procedure in workflow
  .github/workflows/deploy-docs.yml
Labels: documentation
