Repository scaleway/scaleway-cli, pull requests merged in 2025-07, with the labels that each got.

#4879 fix(instance): EoS warning: filter products list by offer_id
  internal/namespaces/instance/v1/helpers_types.go
Labels: instance

#4881 fix(baremetal): update test to fix nightly
  internal/namespaces/baremetal/v1/custom_offer.go
  internal/namespaces/baremetal/v1/custom_offer_test.go
  internal/namespaces/baremetal/v1/custom_server_create_test.go
  internal/namespaces/baremetal/v1/custom_server_fip_test.go
  internal/namespaces/baremetal/v1/custom_server_install_test.go
  internal/namespaces/baremetal/v1/custom_server_test.go
  internal/namespaces/baremetal/v1/helpers_test.go
  internal/namespaces/baremetal/v1/testdata/test-baremetal-get-offer-simple.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-baremetal-get-offer-simple.golden
  internal/namespaces/baremetal/v1/testdata/test-baremetal-list-offer-monthly.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-baremetal-list-offer-monthly.golden
  internal/namespaces/baremetal/v1/testdata/test-baremetal-list-offer-simple.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-baremetal-list-offer-simple.golden
  internal/namespaces/baremetal/v1/testdata/test-create-flexible-ip-interactive-simple-interactive.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-create-flexible-ip-interactive-simple-interactive.golden
  internal/namespaces/baremetal/v1/testdata/test-create-flexible-ip-simple.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-create-flexible-ip-simple.golden
  internal/namespaces/baremetal/v1/testdata/test-create-server-simple-default.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-create-server-simple-default.golden
  internal/namespaces/baremetal/v1/testdata/test-create-server-simple-tags.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-create-server-simple-with-name.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-install-server-simple-all-ssh-keys.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-install-server-simple-all-ssh-keys.golden
  internal/namespaces/baremetal/v1/testdata/test-install-server-simple-with-id.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-install-server-simple-with-id.golden
  internal/namespaces/baremetal/v1/testdata/test-list-server-list-with-tags.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-list-server-simple.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-list-server-simple.golden
  internal/namespaces/baremetal/v1/testdata/test-reboot-server-errors-error-cannot-be-rebooted-while-not-delivered.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-start-server-errors-error-cannot-be-started-while-not-delivered.cassette.yaml
  internal/namespaces/baremetal/v1/testdata/test-stop-server-errors-error-cannot-be-stopped-while-not-delivered.cassette.yaml
Labels: baremetal

#4910 tests(instance): replace remaining b_ssd volumes by l_ssd
  internal/namespaces/instance/v1/custom_image_test.go
  internal/namespaces/instance/v1/custom_snapshot_test.go
  internal/namespaces/instance/v1/helpers_test.go
  internal/namespaces/instance/v1/instance_cli_test.go
  internal/namespaces/instance/v1/testdata/test-create-volume-bad-size-unit.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-create-volume-simple.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-image-update-add-extra-volume.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-image-update-add-extra-volume.golden
  internal/namespaces/instance/v1/testdata/test-update-snapshot-simple-change-name.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-update-snapshot-simple-change-name.golden
  internal/namespaces/instance/v1/testdata/test-update-snapshot-simple-change-tags.cassette.yaml
  internal/namespaces/instance/v1/testdata/test-update-snapshot-simple-change-tags.golden
Labels: bug, instance, tests

#4912 feat(vpc): retry deleting private network if error 500
  internal/namespaces/vpc/v2/custom.go
  internal/namespaces/vpc/v2/custom_private_network.go
Labels: vpc

#4906 fix(apple-silicon): listServerTypes WithAllPages product catalog
  internal/namespaces/applesilicon/v1alpha1/custom_server_types.go
  internal/namespaces/applesilicon/v1alpha1/testdata/test-server-type-list-base.cassette.yaml
  internal/namespaces/applesilicon/v1alpha1/testdata/test-server-type-list-base.golden
Labels: apple-silicon

#4913 fix: use core.RetryInterval on every function that waits for a resource
  internal/namespaces/block/v1alpha1/custom_snapshot.go
  internal/namespaces/block/v1alpha1/custom_volume.go
  internal/namespaces/function/v1beta1/custom_deploy.go
  internal/namespaces/instance/v1/custom_image.go
  internal/namespaces/instance/v1/custom_server_action.go
  internal/namespaces/instance/v1/custom_server_create_test.go
  internal/namespaces/rdb/v1/custom_endpoint.go
Labels: rdb, instance, function

#4926 fix(redis): nightly ipam test
  internal/namespaces/redis/v1/custom_cluster.go
  internal/namespaces/redis/v1/testdata/test-ipam-config-single-ipam-private-endpoint.cassette.yaml
  internal/namespaces/redis/v1/testdata/test-ipam-config-single-ipam-private-endpoint.golden
  internal/namespaces/redis/v1/testdata/test-ipam-config-two-ipam-private-endpoints.cassette.yaml
  internal/namespaces/redis/v1/testdata/test-ipam-config-two-ipam-private-endpoints.golden
Labels: redis

#4923 chore(vpc): use TryDeletingPrivateNetwork function from the sdk-go
  go.mod
  go.sum
  internal/namespaces/k8s/v1/testdata/test-get-cluster-simple.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-get-cluster-simple.golden
  internal/namespaces/k8s/v1/testdata/test-wait-cluster-wait-for-pools.cassette.yaml
  internal/namespaces/k8s/v1/testdata/test-wait-cluster-wait-for-pools.golden
  internal/namespaces/vpc/v2/custom_private_network.go
Labels: k8s, vpc
